.blur {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  -webkit-user-select: none;
}
.allInner {
  position: relative;
}
.modalWindowClose {
  background: url("/images/sprite.png") no-repeat -100px -145px;
  height: 36px;
  width: 36px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1000;
}
.modalWindowClose:hover {
  background: url("/images/sprite.png") no-repeat -100px -182px;
  height: 36px;
  width: 36px;
}
.modalWindowWidget {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  overflow: auto;
  color: #fff;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.modalWindowWidget .box {
  margin: 12px 0;
  padding: 25px 26px;
  position: relative;
}
.modalWindowWidget .box .boxInner {
  position: relative;
  z-index: 1;
}
.modalWindowWidget .box form {
  position: relative;
  z-index: 3;
}
.modalWindowWidget .box form .radiobuttons {
  margin-left: 4px;
}
.modalWindowWidget .box form .radiobuttons .radiobutton .arr {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.modalWindowWidget .inpt.text,
.modalWindowWidget table {
  width: 100%;
}
.modalWindowWidget .inpt.text td,
.modalWindowWidget table td {
  padding-bottom: 6px;
}
.modalWindowWidget .inpt.text input:-webkit-autofill,
.modalWindowWidget table input:-webkit-autofill,
.modalWindowWidget .inpt.text input:active,
.modalWindowWidget table input:active,
.modalWindowWidget .inpt.text input,
.modalWindowWidget table input {
  font: normal lighter 18px/1 'Roboto';
  color: #aae4ff;
  background: transparent !important;
  outline: none;
  border: none;
  width: 100%;
}
.modalWindowWidget .inpt.text input:-webkit-autofill:-moz-placeholder,
.modalWindowWidget table input:-webkit-autofill:-moz-placeholder,
.modalWindowWidget .inpt.text input:active:-moz-placeholder,
.modalWindowWidget table input:active:-moz-placeholder,
.modalWindowWidget .inpt.text input:-moz-placeholder,
.modalWindowWidget table input:-moz-placeholder {
  color: #aae4ff;
}
.modalWindowWidget .inpt.text input:-webkit-autofill:-ms-input-placeholder,
.modalWindowWidget table input:-webkit-autofill:-ms-input-placeholder,
.modalWindowWidget .inpt.text input:active:-ms-input-placeholder,
.modalWindowWidget table input:active:-ms-input-placeholder,
.modalWindowWidget .inpt.text input:-ms-input-placeholder,
.modalWindowWidget table input:-ms-input-placeholder {
  color: #aae4ff;
}
.modalWindowWidget .inpt.text input:-webkit-autofill::-webkit-input-placeholder,
.modalWindowWidget table input:-webkit-autofill::-webkit-input-placeholder,
.modalWindowWidget .inpt.text input:active::-webkit-input-placeholder,
.modalWindowWidget table input:active::-webkit-input-placeholder,
.modalWindowWidget .inpt.text input::-webkit-input-placeholder,
.modalWindowWidget table input::-webkit-input-placeholder {
  color: #aae4ff;
}
.modalWindowWidget .inpt.text input:-webkit-autofill.error,
.modalWindowWidget table input:-webkit-autofill.error,
.modalWindowWidget .inpt.text input:active.error,
.modalWindowWidget table input:active.error,
.modalWindowWidget .inpt.text input.error,
.modalWindowWidget table input.error {
  color: #ff9594;
}
.modalWindowWidget .inpt.text input:-webkit-autofill.error:-moz-placeholder,
.modalWindowWidget table input:-webkit-autofill.error:-moz-placeholder,
.modalWindowWidget .inpt.text input:active.error:-moz-placeholder,
.modalWindowWidget table input:active.error:-moz-placeholder,
.modalWindowWidget .inpt.text input.error:-moz-placeholder,
.modalWindowWidget table input.error:-moz-placeholder {
  color: #ff9594;
}
.modalWindowWidget .inpt.text input:-webkit-autofill.error:-ms-input-placeholder,
.modalWindowWidget table input:-webkit-autofill.error:-ms-input-placeholder,
.modalWindowWidget .inpt.text input:active.error:-ms-input-placeholder,
.modalWindowWidget table input:active.error:-ms-input-placeholder,
.modalWindowWidget .inpt.text input.error:-ms-input-placeholder,
.modalWindowWidget table input.error:-ms-input-placeholder {
  color: #ff9594;
}
.modalWindowWidget .inpt.text input:-webkit-autofill.error::-webkit-input-placeholder,
.modalWindowWidget table input:-webkit-autofill.error::-webkit-input-placeholder,
.modalWindowWidget .inpt.text input:active.error::-webkit-input-placeholder,
.modalWindowWidget table input:active.error::-webkit-input-placeholder,
.modalWindowWidget .inpt.text input.error::-webkit-input-placeholder,
.modalWindowWidget table input.error::-webkit-input-placeholder {
  color: #ff9594;
}
.modalWindowWidget a {
  font: normal lighter 14px/1 'Roboto';
  text-decoration: none;
  color: #ffce00;
}
.modalWindowWidget a.checkbox {
  color: #fff;
}
.modalWindowWidget h1,
.modalWindowWidget h2,
.modalWindowWidget h3,
.modalWindowWidget h4 {
  font: normal lighter 30px/1 'Roboto';
  text-align: center;
}
.modalWindowWidget .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  height: auto;
}
.modalWindowShadow:hover,
.modalWindowShadow {
  position: absolute;
  background: #000000 !important;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 999;
}
.modalWindowShadow:hover.close,
.modalWindowShadow.close {
  opacity: 0;
}
.searchplacewindow .menuCategory {
  width: 320px;
  padding: 7px 0;
}
.searchplacewindow table {
  margin: 0 4px;
  width: 100%;
}
.searchplacewindow table td,
.searchplacewindow table th {
  vertical-align: top;
  width: 50%;
}
.searchplacewindow table th {
  font: normal lighter 24px/34px 'Roboto';
  text-align: left;
  color: #fff;
}
.maxWidth.maxHeight .gmap {
  position: absolute;
}
.maxWidth.maxHeight .inner {
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.maxWidth.maxHeight .modalWindowShadow.modalWindowClose {
  z-index: 999;
}
.maxWidth.maxHeight .modalWindowClose {
  z-index: 1001;
}
