.share a {
  display: inline-block;
  margin: 0 3px;
}
.share a.facebook {
  background: url("/images/sprite.png") no-repeat 0px -344px;
  height: 36px;
  width: 36px;
}
.share a.facebook:hover {
  background: url("/images/sprite.png") no-repeat 0px -381px;
  height: 36px;
  width: 36px;
}
.share a.instagram {
  background: url("/images/sprite.png") no-repeat -185px -344px;
  height: 36px;
  width: 36px;
}
.share a.instagram:hover {
  background: url("/images/sprite.png") no-repeat -185px -381px;
  height: 36px;
  width: 36px;
}
.share a.vk {
  background: url("/images/sprite.png") no-repeat -37px -344px;
  height: 36px;
  width: 36px;
}
.share a.vk:hover {
  background: url("/images/sprite.png") no-repeat -37px -381px;
  height: 36px;
  width: 36px;
}
.share a.twitter {
  background: url("/images/sprite.png") no-repeat -74px -344px;
  height: 36px;
  width: 36px;
}
.share a.twitter:hover {
  background: url("/images/sprite.png") no-repeat -74px -381px;
  height: 36px;
  width: 36px;
}
.share a.googleplus {
  background: url("/images/sprite.png") no-repeat -111px -344px;
  height: 36px;
  width: 36px;
}
.share a.googleplus:hover {
  background: url("/images/sprite.png") no-repeat -111px -381px;
  height: 36px;
  width: 36px;
}
.share a.pinterest {
  background: url("/images/sprite.png") no-repeat -148px -344px;
  height: 36px;
  width: 36px;
}
.share a.pinterest:hover {
  background: url("/images/sprite.png") no-repeat -148px -381px;
  height: 36px;
  width: 36px;
}
.share a.sitemap {
  background: url("/images/sprite.png") no-repeat -222px -344px;
  height: 36px;
  width: 36px;
  height: 36px !important;
}
.share a.sitemap:hover {
  background: url("/images/sprite.png") no-repeat -222px -381px;
  height: 36px;
  width: 36px;
}
.share.ico a {
  margin: 0 7px 0 0;
}
.share.ico a.facebook {
  background: url("/images/sprite.png") no-repeat -9px -424px;
  height: 17px;
  width: 26px;
}
.share.ico a.vk {
  background: url("/images/sprite.png") no-repeat -44px -424px;
  height: 17px;
  width: 26px;
}
.share.ico a.twitter {
  background: url("/images/sprite.png") no-repeat -82px -424px;
  height: 17px;
  width: 26px;
}
footer .share {
  padding: 15px 0 0 0;
  text-align: right;
}
