.wrapper {
  max-width: 100% !important;
}
.content.catalogPhotoAlbums {
  margin-top: 53px;
}
.menuMap {
  background: url("/images/catalogItem_pattern_bg.png");
  font: normal lighter 18px/24px 'Roboto';
  top: 53px;
  bottom: 0;
  position: fixed;
  width: 380px;
  color: #fff;
}
.menuMap .bg {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 71px;
  background: #000;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.menuMap .inner {
  position: absolute;
  padding: 25px;
  height: auto;
  width: 311px;
  bottom: 71px;
  z-index: 2;
  top: 0;
}
.menuMap .inner .link {
  width: 290px;
  padding: 0 29px 0 0;
  overflow: hidden;
  position: absolute;
  height: auto;
  bottom: 30px;
  top: 143px;
}
.menuMap .inner .link .hidden {
  display: none;
}
.menuMap .inner .link .res,
.menuMap .inner .link .pop {
  font-size: 18px;
  color: #fff;
}
.menuMap .inner .link .res .list,
.menuMap .inner .link .pop .list {
  padding-bottom: 24px;
}
.menuMap .inner .link .res .hrx,
.menuMap .inner .link .pop .hrx {
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  background: #cbcac8;
  margin: 4px 0 5px;
  height: 1px;
}
.menuMap .inner .noactive,
.menuMap .inner a {
  text-decoration: none;
  line-height: 24px;
  font-size: 16px;
  color: #ffce00;
}
.menuMap .inner .noactive span,
.menuMap .inner a span {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: 1px;
}
.menuMap .inner .noactive {
  color: #999999;
}
.menuMap h1 {
  font: normal lighter 36px/1 'Roboto';
  padding-bottom: 30px;
}
.menuMap input {
  font: normal lighter 24px/1 'Roboto';
  background: transparent;
  padding: 0;
  padding-bottom: 20px !important;
  box-shadow: none;
  color: #aae4ff;
  border: none;
  outline: 0;
  margin: 0;
}
.menuMap input:-moz-placeholder {
  color: #aae4ff;
}
.menuMap input:-ms-input-placeholder {
  color: #aae4ff;
}
.menuMap input::-webkit-input-placeholder {
  color: #aae4ff;
}
.content .headingPage {
  padding: 4px 0 8px 0;
  font: normal lighter 34px/30px 'Roboto';
}
.content .headingPage.h2 {
  display: block;
  padding: 34px 0 6px 0;
  line-height: 17px;
  font-size: 24px;
  color: #336699;
}
.content .tabs {
  padding: 10px 0;
  margin: 0 -2px;
}
.content .tabs .tab {
  color: #336699;
  padding: 3px 10px;
  margin: 0 2px;
}
.content .tabs .tab.active {
  color: #000;
  border-bottom: 3px solid #ffce00;
}
.content .tabs span.tab {
  color: #c1c1c1;
}
.content .tabContent {
  margin-bottom: -9px;
}
.content .tabContent .tabContentInner {
  padding: 28px 0 9px;
}
.content .tabContent .tabContentInner .content-box {
  margin: 0 -30px;
}
.content .tabContent .catalogItem .itemDesctiption {
  z-index: 6;
  display: block;
}
.content .tabContent .tabHeading {
  font: normal lighter 24px/17px 'Roboto';
  display: block;
  color: #336699;
}
.content .tabContent .tabInfo {
  font: normal lighter 15px/17px 'Roboto';
  padding: 7px 0 17px 0;
}
.content .tabContent .tabMore {
  font: normal lighter 15px/17px 'Roboto';
  display: inline-block;
  margin: 12px 24px 0 0;
  color: #336699;
}
.content .tabContent .tabMore span {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -78px -137px;
  height: 7px;
  width: 4px;
  position: relative;
  margin: 0 6px;
  top: -1px;
}
.content .tabContent .content-box {
  margin: 0 -30px 0 -60px;
}
.content .tabContent .content-box.tags {
  margin: 0 -30px;
}
.content .tabContent .content-box .catalogPhotoAlbums {
  margin: 0;
}
.content .heading {
  position: relative;
  width: 100%;
  line-height: 0;
  max-height: 495px;
  overflow: hidden;
}
.content .heading .headingBg {
  position: relative;
  height: 495px;
  margin-right: 1100px;
}
.content .heading .photoreportsInner {
  height: 440px;
  position: relative;
  z-index: 1;
}
.content .heading .photoreportsInner table {
  vertical-align: top;
  text-align: right;
  height: 100%;
}
.content .heading .photoreportsInner table td {
  vertical-align: top;
  height: 220px;
  width: 220px;
}
.content .heading .photoreportsInner table td.pattern {
  position: relative;
}
.content .heading .photoreportsInner table td.pattern .shadow {
  padding: 50px 0;
  font: normal normal 15px/18px 'Roboto';
  text-align: center;
  line-height: 1;
  color: #fff;
}
.content .heading .photoreportsInner table td.pattern .shadow a {
  margin: 3px 0;
  display: block;
}
.content .heading .photoreportsInner table td.pattern .shadow .count {
  display: block;
  font: normal lighter 60px/1 'Roboto';
}
.content .heading .photoreportsInner table td.row2 {
  height: 440px;
  width: 440px;
}
.content .heading img {
  width: 100%;
}
.content .heading .title {
  font: normal lighter 40px 'Roboto';
  position: absolute;
  bottom: 23px;
  color: #fff;
  left: 30px;
  z-index: 3;
}
.content .heading .bg {
  background: url("/images/article_photoalbum_description_inner_bg.png") repeat-x;
  position: absolute;
  height: 183px;
  width: 100%;
  bottom: 55px;
  z-index: 2;
}
.content .heading .shadow_img {
  background: url("/images/strana_wrapper_img_shadow_x_bg.png") repeat-x;
  position: absolute;
  height: 197px;
  width: 100%;
  bottom: -40px;
  z-index: 1;
}
.content .strana_wrapper {
  background: url("/images/catalogItem_pattern_bg.png") repeat;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  top: -55px;
  z-index: 4;
}
.content .strana_wrapper .bg_x {
  background: url("/images/strana_wrapper_menu_x_bg.png") repeat-x 0 0;
  position: absolute;
  height: 705px;
  width: 330px;
  z-index: 2;
  left: 0;
  top: 0;
}
.content .strana_wrapper .bg {
  position: absolute;
  width: 330px;
  top: 705px;
  bottom: 0;
  background: url("/images/strana_wrapper_bg.png") repeat;
  left: 0;
}
.content .strana_wrapper .menu_close {
  position: absolute;
  background: #000;
  display: none;
  height: 100%;
  width: 100%;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  z-index: 7;
  left: 0;
  top: 0;
}
.content .strana_wrapper .menu_open {
  background: #333333;
  position: absolute;
  display: none;
  height: 46px;
  width: 46px;
  left: 0;
  top: 0;
}
.content .strana_wrapper .menu_open .icon {
  background: url("/images/sprite.png") no-repeat -56px -145px;
  height: 21px;
  width: 26px;
  display: block;
  margin: 13px auto;
}
.content .strana_wrapper .catalogPhotoAlbums .catalogItem .inner {
  background: transparent;
}
.content .strana_wrapper .inner {
  font: normal 15px 'Roboto';
  margin: 0 0 0 330px;
  padding: 30px 30px 0 30px;
  position: relative;
  min-height: 100%;
  background: #fff;
  z-index: 3;
}
.content .strana_wrapper .inner .col-1 {
  padding: 0 369px 0 0;
}
.content .strana_wrapper .inner .col-2 {
  float: right;
  width: 369px;
}
.content .strana_wrapper .inner .info {
  padding: 0 0 0 30px;
  font: normal lighter 15px/26px 'Roboto';
}
.content .strana_wrapper .inner .info .box .heading {
  color: #000;
  font: normal normal 20px/17px 'Roboto';
}
.content .strana_wrapper .inner .info .box a {
  text-decoration: none;
  color: #336699;
}
.content .strana_wrapper .inner .info .box .big {
  font: normal lighter 18px 'Roboto';
}
.content .strana_wrapper .inner .info .box.box_p {
  padding: 12px 30px 15px 30px;
}
.content .strana_wrapper .inner .info .box.box_bg {
  background: #e3e8ea;
}
.content .strana_wrapper .inner .info .box.times {
  font-size: 13px;
}
.content .strana_wrapper .inner .info .box.times img {
  vertical-align: middle;
  max-height: 100px;
  max-width: 135px;
}
.content .strana_wrapper .inner .info .box table {
  width: 100%;
}
.content .strana_wrapper .inner .info .box table td {
  padding: 5px 0;
}
.content .strana_wrapper .inner .info .box table td .big {
  font: normal lighter 30px 'Roboto';
  display: block;
}
.content .strana_wrapper .inner .info .box table td .center {
  vertical-align: middle;
  text-align: center;
}
.content .strana_wrapper .inner .info .box table td .center td {
  vertical-align: middle;
}
.content .strana_wrapper .inner .info .box table td img {
  max-width: 100%;
  height: auto !important;
}
.content .strana_wrapper .inner .info .box.weather {
  padding: 20px 30px 13px 30px;
}
.content .strana_wrapper .inner .info .box.weather table {
  font: normal lighter 12px/26px 'Roboto';
  margin: 5px 0 0 0;
  color: #333;
}
.content .strana_wrapper .inner .info .box.weather table tr.temperature td {
  padding: 10px 0 13px 0;
}
.content .strana_wrapper .inner .info .box.weather table td {
  padding: 0;
  height: 26px;
}
.content .strana_wrapper .inner .info .box.weather table .val {
  font-size: 30px;
  color: #000;
}
.content .strana_wrapper .inner .info .box.weather table .val.h2 {
  font-size: 15px;
}
.content .strana_wrapper .inner .info .box.weather .weatherIcon {
  position: relative;
  margin: 0 6px 0;
  top: 5px;
}
.content .strana_wrapper .content_inner {
  max-width: 1020px;
  margin: 0 auto 30px auto;
  font: normal lighter 15px/26px 'Roboto';
  color: #333333;
}
.content .strana_wrapper .content_inner strong,
.content .strana_wrapper .content_inner b {
  font-weight: bold;
}
.content .strana_wrapper .content_inner img {
  max-width: 100%;
  height: auto !important;
  margin: 9px 0;
}
.content .strana_wrapper .content_inner p {
  padding: 0 0 18px 0;
}
.content .strana_wrapper .content_inner h1,
.content .strana_wrapper .content_inner h2,
.content .strana_wrapper .content_inner h3,
.content .strana_wrapper .content_inner h4,
.content .strana_wrapper .content_inner h5,
.content .strana_wrapper .content_inner h6 {
  font: normal lighter 34px/1 'Roboto';
  padding: 0 0 10px 0;
}
.content .strana_wrapper .content_inner h2 {
  font-size: 24px;
  padding: 20px 0 6px 0;
  color: #333;
}
.content .strana_wrapper .content_inner h3 {
  font-size: 18px;
  padding: 4px 0 6px 0;
  color: #999;
}
.content .strana_wrapper .content_inner h4 {
  padding-bottom: 2px;
  font-size: 22px;
}
.content .strana_wrapper .content_inner h5 {
  padding-bottom: 2px;
  font-size: 20px;
}
.content .strana_wrapper .content_inner a {
  color: #336699;
}
.content .strana_wrapper .content_inner ol,
.content .strana_wrapper .content_inner ul {
  list-style: disc;
  list-style-position: outside;
  margin: 0 0 18px 0;
}
.content .strana_wrapper .content_inner ol li,
.content .strana_wrapper .content_inner ul li {
  margin: 0 0 0 20px;
}
.content .strana_wrapper .content_inner ol {
  list-style: decimal;
}
.content .strana_wrapper .content_inner .descriptionObject {
  margin: -7px 0 8px 0;
}
.content .strana_wrapper .tabContent .content_inner {
  max-width: 100%;
  padding: 19px 30px 0 30px;
}
.content .strana_wrapper .tabContent .content_inner h1 {
  font: normal lighter 24px/1 'Roboto';
  padding-bottom: 2px;
}
.menuCategory {
  width: 264px;
  position: relative;
  padding: 15px 30px;
  min-height: 100%;
  float: left;
  z-index: 5;
}
.menuCategory .heading {
  font: normal lighter 24px/34px 'Roboto';
  margin-bottom: 7px;
  color: #fff;
}
.menuCategory .searchCountry {
  font: normal lighter 13px/17px 'Roboto';
  color: #fff;
}
.menuCategory .searchCountry input {
  width: 264px;
  font: normal lighter 15px/28px 'Roboto';
  margin-bottom: 7px;
  color: #333;
  display: block;
}
.menuCategory .searchCountry .inpt.text {
  width: 264px;
  position: relative;
}
.menuCategory .searchCountry .search {
  background: url("/images/sprite.png") no-repeat -83px -128px;
  height: 16px;
  width: 16px;
  position: absolute;
  cursor: pointer;
  display: block;
  border: none;
  right: 0;
  top: 10px;
}
.menuCategory .arr {
  background: url("/images/sprite.png") no-repeat -70px -167px;
  height: 9px;
  width: 9px;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  left: 24px;
  top: 12px;
}
.menuCategory .submenu {
  position: relative;
  z-index: 6;
}
.menuCategory .submenu li {
  margin-top: 1px;
}
.menuCategory .submenu li > .innerLink .hr {
  position: relative;
  top: -1px;
}
.menuCategory .submenu li .innerLink {
  cursor: pointer;
  padding: 0 30px 0 43px;
}
.menuCategory .submenu li.active > .innerLink,
.menuCategory .submenu li:hover > .innerLink {
  background: #ffce00;
}
.menuCategory .submenu li.active > .innerLink .link,
.menuCategory .submenu li:hover > .innerLink .link {
  color: #000;
}
.menuCategory .submenu li .link {
  text-decoration: none;
  font: normal lighter 15px 'Roboto';
  padding: 5px 0 9px 0;
  display: block;
  color: #ffce00;
}
.menuCategory .submenu li ul {
  background: url("/images/light_07.png") repeat;
  border-top: 1px solid #424444;
  border-bottom: 1px solid #424444;
  margin: 0 30px 0 43px;
}
.menuCategory .submenu li ul .arr {
  left: -18px;
}
.menuCategory .submenu li ul .innerLink {
  padding: 0 0 0 13px;
}
.menuCategory .submenu li ul ul {
  background: none;
  border: none;
  padding: 0 15px;
  margin: 0;
}
.menuCategory .submenu li ul li {
  border: none;
}
.menuCategory .submenu li ul li a {
  font: normal lighter 14px 'Roboto';
}
.menuCategory .submenu.active > .arr,
.menuCategory .submenu.open > .arr {
  background: url("/images/sprite.png") no-repeat -226px -55px;
  height: 10px;
  width: 9px;
}
.menuCategory .submenu.active > ul,
.menuCategory .submenu.open > ul {
  display: block;
  border-bottom: none;
}
.qualificationForm .menuCategory li:hover .arr {
  background: url("/images/sprite.png") no-repeat -70px -167px;
  height: 9px;
  width: 9px;
}
.qualificationForm .menuCategory li:hover .innerLink {
  background: transparent;
}
.qualificationForm .menuCategory li:hover .innerLink .link {
  color: #ffce00;
}
.qualificationForm .menuCategory li.active:hover > .arr,
.qualificationForm .menuCategory li.open:hover > .arr,
.qualificationForm .menuCategory li.active > .arr,
.qualificationForm .menuCategory li.open > .arr {
  background: url("/images/sprite.png") no-repeat -226px -55px;
  height: 10px;
  width: 9px;
}
ul.submenu {
  margin: 0 -36px 0 -39px;
}
ul.submenu ul {
  display: none;
}
ul.submenu .hr {
  display: block;
  height: 1px;
  background: #424444;
}
ul.submenu > .hr {
  margin: 0 30px 0 43px;
}
ul.submenu > li.active > .arr,
ul.submenu > li:hover > .arr {
  background: url("/images/sprite.png") no-repeat -70px -177px;
  height: 9px;
  width: 9px;
}
ul.submenu > li.active.active > .arr,
ul.submenu > li:hover.active > .arr,
ul.submenu > li.active.open > .arr,
ul.submenu > li:hover.open > .arr {
  background: url("/images/sprite.png") no-repeat -236px -55px;
  height: 10px;
  width: 9px;
}
.interested .catalogPhotoAlbums {
  margin-top: 0;
}
.navigation {
  padding: 47px 0 24px 0;
}
.navigation a {
  font: normal lighter 15px 'Roboto';
  color: #336699;
}
.navigation a span.icon {
  margin: 0 6px 0 0;
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -90px -167px;
  height: 7px;
  width: 4px;
}
.navigation .prev {
  float: right;
}
.navigation .prev .icon {
  margin: 0 0 0 6px;
  background: url("/images/sprite.png") no-repeat -95px -167px;
  height: 7px;
  width: 4px;
}
.navigation .next {
  float: left;
}
.markerLabels .flag {
  display: block;
}
.markerInnerFlag {
  display: block;
  height: 14px;
  width: 20px;
}
.markerInnerFlag .flag {
  display: block;
}
.tags .catalogItem {
  display: none;
}
@media screen and (min-width: 0) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 50% !important;
  }
  .tabContentInner .catalogItem {
    width: 33.33333333% !important;
  }
  .tags .catalogItem:nth-child(-n+3) {
    display: inline-block;
  }
}
@media screen and (min-width: 766px) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 50% !important;
  }
  .tabContentInner .catalogItem {
    width: 33.33333333% !important;
  }
  .tags .catalogItem:nth-child(-n+3) {
    display: inline-block;
  }
}
@media screen and (min-width: 1149px) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 33.33333333% !important;
  }
  .tabContentInner .catalogItem {
    width: 25% !important;
  }
  .tags .catalogItem:nth-child(-n+4) {
    display: inline-block;
  }
}
@media screen and (min-width: 1532px) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 25% !important;
  }
  .tabContentInner .catalogItem {
    width: 25% !important;
  }
  .tags .catalogItem:nth-child(-n+4) {
    display: inline-block;
  }
}
@media screen and (min-width: 1915px) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 20% !important;
  }
  .tabContentInner .catalogItem {
    width: 20% !important;
  }
  .tags .catalogItem:nth-child(-n+5) {
    display: inline-block;
  }
}
@media screen and (min-width: 2298px) {
  .rowItem,
  .catalogPhotoAlbums .catalogItem {
    width: 16.66666667% !important;
  }
  .tabContentInner .catalogItem {
    width: 16.66666667% !important;
  }
  .tags .catalogItem:nth-child(-n+6) {
    display: inline-block;
  }
}
@media screen and (max-width: 1550px) {
  .content .heading .photoreportsInner table td.row2 {
    display: none;
  }
  .content .heading .headingBg {
    margin-right: 660px;
  }
}
@media screen and (max-width: 1360px) {
  .content .strana_wrapper .menuCategory {
    display: none;
    margin-right: -330px;
    z-index: 3;
  }
  .content .strana_wrapper .inner {
    margin-left: 0;
  }
  .content .strana_wrapper .menu_open {
    display: block;
  }
  .content .strana_wrapper.open_menu .menuCategory {
    display: block;
  }
  .content .strana_wrapper.open_menu .menu_close {
    display: block;
  }
  .content .strana_wrapper.open_menu .inner {
    left: 330px;
  }
}
