@import "http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,700italic&subset=cyrillic-ext,latin";
.fileStorage {
  width: 930px;
}
.fileStorage input,
.fileStorage .dz-preview {
  display: none;
}
.fileStorage .breadcrumbs {
  padding: 7px 13px;
  color: #fff;
  margin: 0;
}
.fileStorage .menuBar {
  margin: 22px 0 0 0;
  height: 40px;
}
.fileStorage .menuBar .fll {
  display: none;
}
.fileStorage .menuBar .fll.visible {
  display: block;
}
.fileStorage .menuBar ._move.visible {
  display: none;
}
.fileStorage .menuBar._move ._file,
.fileStorage .menuBar._move ._folder {
  display: none;
}
.fileStorage .menuBar._move ._move._visible,
.fileStorage .menuBar._move ._move.visible {
  display: block;
}
.fileStorage .icon {
  display: inline-block;
}
.fileStorage .scrollAlterContentInner {
  padding-right: 30px;
}
.fileStorage .listPhotoreport {
  position: relative;
  height: 308px;
  overflow: hidden;
  margin-top: 11px;
}
.fileStorage .listPhotoreport .itemListPhotoreport {
  padding: 0 5px;
}
.fileStorage .listPhotoreport .itemListPhotoreport .col.c1 {
  min-width: 21px;
}
.fileStorage .listPhotoreport .itemListPhotoreport .col.c3 {
  width: 45px;
}
.fileStorage .folder {
  margin: 17px auto 0 auto;
}
.fileStorage .fll .buttonBorder {
  margin-left: 0 !important;
  margin-right: 10px !important;
}
.fileStorage .flr .buttonBorder {
  margin-left: 10px !important;
  margin-right: 0 !important;
}
.fileStorage .fileStorageDropZone {
  font: normal lighter 13px/1.2 'Roboto';
  margin: 10px 0 0 0;
  position: relative;
  padding: 5px 5px;
  height: 84px;
  width: 920px;
  cursor: pointer;
  color: #fff;
}
.fileStorage .fileStorageDropZone table td {
  vertical-align: top;
  padding-top: 25px;
  width: 198px;
}
.fileStorage .fileStorageDropZone table td .icon.loading {
  margin-left: 141px;
}
.fileStorage .fileStorageDropZone table td.info {
  padding-top: 18px;
  width: 722px;
}
.fileStorage .fileStorageDropZone .tab {
  display: none;
}
.fileStorage .fileStorageDropZone .tab.start {
  display: block;
}
.fileStorage .fileStorageDropZone .heading {
  font-size: 24px;
  display: block;
  color: #fff;
}
.fileStorage .fileStorageDropZone .border {
  background: url("/images/fileStorage/pattern.gif") repeat;
  position: absolute;
}
.fileStorage .fileStorageDropZone .border.h {
  height: 100%;
  z-index: 2;
  width: 5px;
  top: 0;
}
.fileStorage .fileStorageDropZone .border.v {
  z-index: 3;
  height: 5px;
  width: 100%;
  left: 0;
}
.fileStorage .fileStorageDropZone .border.b {
  bottom: 0;
}
.fileStorage .fileStorageDropZone .border.r {
  right: 0;
}
.fileStorage .fileStorageDropZone .border.l {
  left: 0;
}
.fileStorage .fileStorageDropZone .border.t {
  top: 0;
}
.fileStorage .edit .name span {
  display: none;
}
.fileStorage .edit .name input {
  line-height: 1 !important;
  background: transparent;
  display: inline-block;
  position: relative;
  height: auto;
  width: 513px;
  color: #fff;
  z-index: 1;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.fileStorage .edit .name input:-moz-placeholder {
  color: #336699;
}
.fileStorage .edit .name input:-ms-input-placeholder {
  color: #336699;
}
.fileStorage .edit .name input::-webkit-input-placeholder {
  color: #336699;
}
.fileStorage.basket .listPhotoreport {
  height: 392px;
}
.dz-drag-hover .fileStorageDropZone .border {
  -webkit-animation: animatedBackground 1s linear infinite;
  animation: animatedBackground 1s linear infinite;
}
.dz-started .fileStorageDropZone .tab.start {
  display: none;
}
.dz-started .fileStorageDropZone .tab.uploading {
  display: block;
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10px -10px;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10px -10px;
  }
}
@font-face {
  font-family: 'robotoregular';
  src: url('/fonts/roboto/roboto-regular-webfont.eot');
  src: url('/fonts/roboto/roboto-regular-webfont?#iefix') format('embedded-opentype'), url('/fonts/roboto/roboto-regular-webfont.woff') format('woff'), url('/fonts/roboto/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('/fonts/roboto/roboto-light-webfont.eot');
  src: url('/fonts/roboto/roboto-light-webfont?#iefix') format('embedded-opentype'), url('/fonts/roboto/roboto-light-webfont.woff') format('woff'), url('/fonts/roboto/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('/fonts/roboto/roboto-bold-webfont.eot');
  src: url('/fonts/roboto/roboto-bold-webfont?#iefix') format('embedded-opentype'), url('/fonts/roboto/roboto-bold-webfont.woff') format('woff'), url('/fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto';
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
html {
  height: 100%;
  min-width: 1000px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  background: #303234 url(/images/bg_body.png) repeat 50% 50%;
  font: 12px/18px Arial, sans-serif;
  height: 100%;
}
a {
  color: #ffce00;
  text-decoration: none;
}
.cl-fix {
  clear: both;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.d-ib {
  display: inline-block;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.pDefault {
  padding: 30px;
}
.m0 {
  margin: 0px;
}
.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.pr {
  position: relative;
}
.alc {
  margin-right: auto;
  margin-left: auto;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.yellow {
  color: #ffce00;
}
.blue {
  color: #336699;
}
.gray {
  color: #cccccc;
}
.gray_blue {
  color: #e3e8ea;
}
.gray_dark {
  color: #666666;
}
.toggleStr .str.hidden {
  display: none;
}
.blurInner,
.allInner {
  height: 1%;
}
.blurInner,
.allInner {
  min-height: 100%;
}
.shadow {
  background-image: url("/images/shadow/40.png");
  background-repeat: repeat;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.shadow.s40 {
  background-image: url("/images/shadow/40.png");
  background-repeat: repeat;
}
.shadow.s50 {
  background-image: url("/images/shadow/50.png");
  background-repeat: repeat;
}
.shadow.s60 {
  background-image: url("/images/shadow/60.png");
  background-repeat: repeat;
}
.shadow.s80 {
  background-image: url("/images/shadow/80.png");
  background-repeat: repeat;
}
.wrapper {
  width: 100%;
  max-width: 2229px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.wrapper.article {
  max-width: 100%;
}
.wrapper.article .content {
  padding: 0 0 71px 0;
}
.light {
  font-family: 'Roboto';
  font-weight: lighter;
}
.fs20 {
  font-size: 20px;
}
.center {
  text-align: center;
}
.sSpace {
  max-width: 2060px;
  padding: 0 84px;
  margin: 0 auto  ;
}
.findStr {
  background: #ffce00;
  position: relative;
  color: #000;
}
.marker {
  width: 32px;
  height: 22px;
  background: url("/images/gmap_marker.png");
}
.flr {
  float: right !important;
}
.fll {
  float: left !important;
}
.lock {
  overflow: hidden;
}
.link {
  font: normal 14px/1 'Roboto';
  text-decoration: none;
  color: #ffce00;
}
.link > .arr {
  background: url("/images/sprite.png") no-repeat -166px -46px;
  height: 17px;
  width: 17px;
  display: inline-block;
  position: relative;
  left: 7px;
  top: 4px;
}
.link:hover > .arr {
  background: url("/images/sprite.png") no-repeat -166px -64px;
  height: 17px;
  width: 17px;
}
.hidden {
  display: none;
}
.imageDescription {
  line-height: 12px;
}
.imageDescription .imageAutor {
  float: right;
  font-size: 12px;
}
.textCropBlock .textCrop {
  display: none;
}
.textCropBlock.open .textCrop {
  display: inline;
}
.textCropBlock.open .textCropEnd,
.textCropBlock.open .textCropOpen {
  display: none;
}
.pattern {
  background: url("/images/catalogItem_pattern_bg.png");
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.pattern.blue {
  background: url("/images/profile/list_photoreport_pattern.png");
}
.paginator {
  text-align: center;
  margin: 21px 0 0 0;
}
.paginator a {
  font: normal lighter 18px/35px 'Roboto';
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  color: #336699;
  height: 35px;
  width: 35px;
}
.paginator a:hover,
.paginator a.active {
  background: url("/images/sprite.png") no-repeat -223px -308px;
  height: 35px;
  width: 35px;
  color: #000;
}
.breadcrumbs {
  font: normal 14px 'Roboto';
  margin: -4px 0 25px 0;
  color: #666666;
}
.breadcrumbs a {
  text-decoration: none;
  color: #336699;
}
.breadcrumbs .separator {
  position: relative;
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -142px -40px;
  height: 5px;
  width: 3px;
  margin: 0 5px;
  top: -1px;
}
.errorsTMPClose {
  position: absolute;
  z-index: 998;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: #000;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.errorsTMP {
  font: normal normal 14px/1 'Roboto';
  border: 1px solid #ff0000;
  background: #990000;
  position: absolute;
  z-index: 999;
  padding: 8px;
  color: #fff;
}
.errorsTMP .arr {
  position: absolute;
  background: url("/images/sprite.png") no-repeat -226px -41px;
  height: 9px;
  width: 14px;
  left: 21px;
  top: -9px;
}
/*  progressbar
-----------------------------------------------------------------------------*/
.progressbarOpen .header {
  top: 25px;
}
.progressbarOpen .progressbar {
  display: block;
}
.progressbar {
  text-align: center;
  background: #000;
  position: fixed;
  display: none;
  z-index: 999;
  height: 25px;
  width: 100%;
  left: 0;
  top: 0;
}
.progressbar .loading {
  background: url("/images/bar_pattern.png");
  position: absolute;
  height: 25px;
  font: normal 15px/25px 'Roboto';
  width: 0%;
  left: 0;
  top: 0;
}
/*  Header
-----------------------------------------------------------------------------*/
.header {
  background: url(/images/bg_header.png);
  height: 53px;
  position: fixed;
  z-index: 900;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  min-width: 1000px;
}
.header .buttonBorder {
  margin: 8px 0;
}
.header .logo {
  background: url("/images/sprite.png") no-repeat 0px 0px;
  height: 24px;
  width: 152px;
  margin: 13px 0 0 0;
  display: block;
  float: left;
}
.header .header_inner {
  margin: 0 auto;
  height: 53px;
  position: relative;
  z-index: 1;
}
.header nav {
  font: normal 15px/1 'Roboto';
  vertical-align: middle;
  margin: 0 40px 0 173px;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 900px;
}
.header nav a {
  color: #fff;
  text-decoration: none;
  margin: 2px 15px;
}
.header nav a.search {
  display: inline-block;
  position: relative;
  top: 3px;
}
.header .icon_config {
  display: inline-block;
  vertical-align: middle;
}
.header .config {
  position: relative;
  z-index: 1;
  float: right;
}
.header nav,
.header .config {
  padding: 15px 0;
}
/*  Middle
----------------------------------------------------------------------------*/
.content {
  padding: 53px 29px 71px 29px;
  min-height: 100%;
  margin-bottom: -71px;
}
.content.notpadding {
  padding: 0;
}
.title {
  font: normal lighter 26px/1 'Roboto';
  color: #fff;
}
/*  Блоки универсальные
----------------------------------------------------------------------------*/
.box {
  margin: 0 0 10px -2px;
  position: relative;
}
.box .refresh {
  background: url("/images/buttons/button_sprite.png") no-repeat -25px -82px;
  height: 21px;
  width: 18px;
  display: inline-block;
  margin: 0 19px;
}
.box .col {
  display: inline-block;
  float: left;
}
.box .col.posAbs {
  position: absolute;
  height: 100%;
}
.box .col-50 {
  width: 50%;
}
.box .col-33 {
  width: 33.33333333%;
}
.box .col-25 {
  width: 25%;
}
.box .heading {
  font: normal lighter 32px 'Roboto';
  color: #ffce00;
}
.box .box_inner {
  background: url("/images/box_inner.png") repeat;
  margin: 5px;
}
.box .box_inner.w25 {
  width: 24%;
  float: left;
}
.box .box_inner.w75 {
  float: left;
  width: 73%;
}
.box .box_inner.w75 td {
  width: 33.33333333%;
}
.box .box_inner.h50 {
  min-height: 48%;
  height: 48%;
}
.box .box_inner.h100 {
  min-height: 100%;
  height: 100%;
}
.box .box_inner .infoBox {
  height: 100%;
}
.box .box_inner .col {
  font: normal lighter 13px 'Roboto';
  vertical-align: middle;
  text-align: center;
  height: 50%;
  width: 100%;
  color: #fff;
  display: table;
}
.box .box_inner .col div {
  display: table-cell;
  vertical-align: middle;
  line-height: 1;
}
.box .box_inner .col span {
  font-size: 30px;
}
.box .box_inner.w75 .col {
  width: 33.33333333%;
  height: 100%;
}
.box .description {
  overflow: hidden;
  height: 98px;
}
#loginForm {
  border: 3px solid #ffce00;
  font: normal 15px 'Roboto';
  margin: 150px auto;
  background: #212121;
  color: #ffffff;
  padding: 30px;
  width: 300px;
}
#loginForm .errorMessage {
  color: #ffa195;
  font-size: 10px;
}
#loginForm .row input {
  width: 150px;
  float: right;
  padding: 5px 10px;
}
#loginForm .row.buttons input {
  float: none;
  margin: 0 auto;
  width: 70px;
}
#loginForm label {
  width: 300px;
}
/* Навигатор
----------------------------------------------------------------------------*/
.navigator a,
.navigator span {
  float: left;
  font: normal 13px/1 'Roboto';
  color: #ffce00;
}
.navigator span {
  color: #ccc;
}
.navigator .sp {
  background: url("/images/sprite.png") no-repeat -98px -40px;
  height: 5px;
  width: 3px;
  margin: 6px 7px;
}
.navigator .home {
  background: url("/images/sprite.png") no-repeat -86px -36px;
  height: 9px;
  width: 11px;
  margin: 3px 2px;
}
/* Статьи
----------------------------------------------------------------------------*/
#article {
  margin: 0 0 -2px 0;
}
#article .articleHeading {
  width: 100%;
  left: 0;
}
#article .articleHeading img {
  width: 100%;
}
#article .articleHeading .photoalbum_margin,
#article .articleHeading .photoalbum_inner {
  margin: 0;
}
#article .articleHeading .photoalbum_description {
  background-image: url("/images/article_photoalbum_description_inner_bg.png");
  right: 0;
  left: 0;
}
#article .articleHeading .photoalbum_description .photoalbum_description_inner {
  padding: 8px 55px 0 55px;
}
#article .articleHeading .photoalbum {
  width: 100% !important;
  margin: 0;
}
#article .articleHeading .photoalbum .photoalbum_title {
  font-size: 36px;
}
#article .articleText {
  margin: 20px 30px;
}
#article .articleText.navigator {
  margin: 10px 30px -16px 30px;
  padding: 0 25px;
}
#article .articleInner {
  margin: 10px 30px;
  background: #fff;
  padding: 0 10px 10px;
}
#article .articleInner img {
  max-width: 100%;
  width: auto;
  height: auto !important;
}
#article .articleInner nav {
  background: #000000;
  margin: 0 -10px 10px;
}
#article .articleInner nav .tab {
  display: inline-block;
  padding: 12px 5px 8px 5px;
  margin: 0 10px;
}
#article .articleInner nav .tab.active {
  position: relative;
  background-image: url("/images/bg_articleInner_tab_active.gif");
}
#article .articleInner nav .tab.active .arrow {
  background: url("/images/sprite.png") no-repeat -102px -37px;
  height: 8px;
  width: 15px;
  margin-left: -7.5px;
  position: absolute;
  left: 50%;
  top: 100%;
}
#article .articleInner nav .tab.active a {
  color: #000;
}
#article .articleInner nav .tab a {
  text-decoration: none;
  color: #fff;
  font: normal lighter 17px/1 'Roboto';
}
.articleList {
  overflow: hidden;
  margin: 0 !important;
}
.articleList .articleListInner {
  max-width: 2229px;
  margin: 53px auto 0 auto;
}
.countruInfo {
  height: 188px;
}
.countruInfo .col {
  height: 168px;
}
.countruInfo .col .inner {
  background: #e0d3ae;
  padding: 10px;
}
.countruInfo .col table {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.countruInfo .col table td {
  font: normal 13px 'Roboto';
  vertical-align: middle;
  height: 80px;
  text-align: center;
}
.countruInfo .col table td span {
  font: normal lighter 30px 'Roboto';
  text-align: center;
  display: block;
}
.countruInfo .col table td.blazon {
  vertical-align: middle;
  text-align: center;
  padding: 0 5px;
}
.countruInfo .col table td.blazon img {
  display: inline-block;
}
.countruInfo .col table td.params {
  text-align: left;
  line-height: 2;
}
.countruInfo .col table td.blazon,
.countruInfo .col table td.params {
  height: 100%;
}
.countruInfo .col.col-1 {
  padding-right: 310px;
}
.countruInfo .col.col-1 .inner {
  margin: 0 10px 0 0;
}
.countruInfo .col.col-1 .globe {
  width: 148px;
  margin: 13px 0 0 22px;
  float: left;
}
.countruInfo .col.col-1 .info {
  margin-left: 170px;
}
.countruInfo .col.col-2 {
  width: 310px;
  float: right;
}
.countruInfo .col.col-2 .inner {
  margin: 0;
}
.countruInfo .col.col-2 table {
  height: 160px;
}
.countruInfo .col.col-2 table td {
  text-align: left;
  height: auto;
}
/* Вкладки
----------------------------------------------------------------------------*/
.inner {
  height: 100%;
}
/* Фотоальбом
----------------------------------------------------------------------------*/
.photoalbum_inner {
  line-height: 0;
  margin: 0 -5px;
}
.photoalbum_inner .photoalbum {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  height: 400px;
  float: left;
}
.photoalbum_inner .photoalbum.hauto {
  height: auto;
}
.photoalbum_inner .photoalbum.stream .borders {
  border: 5px solid #ffce00;
  position: absolute;
  left: 5px;
  right: 5px;
  z-index: 2;
  bottom: 0;
  top: 0;
}
.photoalbum_inner .photoalbum.stream .arrow {
  background: url("/images/sprite.png") no-repeat -11px -53px;
  height: 98px;
  width: 92px;
}
.photoalbum_inner .photoalbum .photoalbum_description {
  background: url("/images/photoalbum_shadow_bg.png") repeat-x;
  font: normal 13px/1 'Roboto';
  position: absolute;
  height: 140px;
  color: #fff;
  bottom: 0;
  right: 5px;
  left: 5px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_description_inner {
  padding: 41px 23px 0 27px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_author {
  padding: 0 0 3px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_footer {
  position: absolute;
  bottom: 36px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_title {
  font: normal lighter 32px/1 'Roboto';
  padding: 0 0 15px;
  position: absolute;
  bottom: 51px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_title a {
  text-decoration: none;
  color: #fff;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country {
  float: left;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  height: 14px;
  width: 20px;
  top: 2px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.vn {
  background: url("/images/sprite_country.gif") no-repeat 0px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.ru {
  background: url("/images/sprite_country.gif") no-repeat -21px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.id {
  background: url("/images/sprite_country.gif") no-repeat -42px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.br {
  background: url("/images/sprite_country.gif") no-repeat -63px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.th {
  background: url("/images/sprite_country.gif") no-repeat -84px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.sc {
  background: url("/images/sprite_country.gif") no-repeat -105px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_country span.at {
  background: url("/images/sprite_country.gif") no-repeat -126px 0px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share {
  float: right;
  margin: 4px 0;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share a,
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share span {
  margin: -2px 3px;
  display: inline-block;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share .like {
  background: url("/images/sprite.png") no-repeat 0px -31px;
  height: 13px;
  width: 13px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share .best {
  background: url("/images/sprite.png") no-repeat -14px -32px;
  height: 13px;
  width: 16px;
}
.photoalbum_inner .photoalbum .photoalbum_description .photoalbum_share .best.silver {
  background: url("/images/sprite.png") no-repeat -31px -32px;
  height: 13px;
  width: 16px;
}
.photoalbum_inner .photoalbum .photoalbum_margin {
  margin: 0 5px;
}
.photoalbum_inner .photoalbum .photoalbum_margin a {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.photoalbum_inner .photoalbum img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.photoalbum_inner .photoalbum.w10 {
  width: 10%;
}
.photoalbum_inner .photoalbum.w20 {
  width: 20%;
}
.photoalbum_inner .photoalbum.w25 {
  width: 25%;
}
.photoalbum_inner .photoalbum.w30 {
  width: 30%;
}
.photoalbum_inner .photoalbum.w40 {
  width: 40%;
}
.photoalbum_inner .photoalbum.w50 {
  width: 50%;
}
.photoalbum_inner .photoalbum.w60 {
  width: 60%;
}
.photoalbum_inner .photoalbum.w70 {
  width: 70%;
}
.photoalbum_inner .photoalbum.w80 {
  width: 80%;
}
.photoalbum_inner .photoalbum.w87 {
  width: 87%;
}
.photoalbum_inner .photoalbum.w90 {
  width: 90%;
}
.photoalbum_inner .photoalbum.w100 {
  width: 100%;
}
.photoalbum_inner .photoalbum.h25 {
  height: 25%;
}
.photoalbum_inner .photoalbum.h100 {
  height: 100%;
}
.photoalbum_inner .showMore {
  font: normal 13px 'Roboto';
  text-decoration: underline;
  color: #ffce00;
  float: right;
  margin: 7px -2px;
}
.photoalbum_inner .showMore:hover {
  text-decoration: none;
}
.photoalbum_inner .showMore span {
  margin: -4px 6px;
  background: url("/images/buttons/button_sprite.png") no-repeat -17px -82px;
  height: 12px;
  width: 7px;
  display: inline-block;
}
.photoalbum_inner.fs26 .photoalbum_description .photoalbum_title {
  font-size: 26px;
}
.photoalbum_inner.fs20 .photoalbum_description .photoalbum_title {
  font-size: 20px;
}
.photoalbum_inner.slider {
  margin: 0 0 29px 0;
}
.photoalbum_inner.slider .photoalbum {
  margin: 0 0 0 155px;
  display: block;
  height: 790px;
  float: none;
}
.photoalbum_inner.slider .sliderItems {
  width: 150px;
  overflow: hidden;
  margin: -10px 0;
  float: left;
}
.photoalbum_inner.slider .sliderItems ul li {
  height: 150px;
  width: 150px;
  margin: 10px 0;
}
.photoalbum_inner.slider .sliderItems ul li:hover,
.photoalbum_inner.slider .sliderItems ul li.active {
  position: relative;
}
.photoalbum_inner.slider .sliderItems ul li:hover .borders,
.photoalbum_inner.slider .sliderItems ul li.active .borders {
  cursor: pointer;
  border: solid 5px #ffce00;
  height: 140px;
  width: 140px;
  position: absolute;
  left: 0;
  top: 0;
}
.photoalbum_inner.slider .sliderItems ul li.active .arrow {
  position: absolute;
  background: url("/images/sprite.png") no-repeat -150px -46px;
  height: 23px;
  width: 12px;
  left: 141px;
  top: 50%;
  margin-top: -11.5px;
}
.photoalbum_inner.slider.right {
  margin-left: -5px;
}
.photoalbum_inner.slider.right .photoalbum {
  margin: 0 155px 0 0;
}
.photoalbum_inner.slider.right .sliderItems {
  float: right;
}
.photoalbum_inner.slider.right .sliderItems ul li.active .arrow {
  background: url("/images/sprite.png") no-repeat -150px -70px;
  height: 23px;
  width: 12px;
  left: auto;
  right: 141px;
}
/* Наши пользователи
-----------------------------------------------------------------------------*/
.users ul {
  margin: 0 -3px 28px -4px;
  height: 177px;
  overflow: hidden;
}
.users ul li {
  display: inline-block;
  margin: 0 3px 10px 4px;
  width: 150px;
  text-align: center;
}
.users ul li a {
  font: normal 15px/14px 'Roboto';
  color: #ffce00;
}
.users ul li a:hover {
  text-decoration: none;
}
.users ul li img {
  height: 150px;
  width: 150px;
  margin: 0 0 7px 0;
}
/*
-----------------------------------------------------------------------------*/
.openInfoInner .infoInner {
  height: 209px;
}
.openInfoInner .buttonBorder {
  background: #ffce00;
  color: #000;
}
.openInfoInner .buttonBorder .squares {
  background: url("/images/sprite.png") no-repeat -160px -281px;
  height: 9px;
  width: 37px;
}
.infoInner {
  background: url("/images/parallel_slider_infoInner_bg.png");
  position: absolute;
  padding-top: 96px;
  overflow: hidden;
  display: none;
  height: 80px;
  width: 100%;
  z-index: 4;
  bottom: 0;
}
.infoInner .icon {
  margin-right: 5px;
}
.infoInner .buttonBorder {
  float: left;
  margin: 0 0 0 30px !important;
}
.infoInner .buttonBorder:hover .squares {
  background: url("/images/sprite.png") no-repeat -160px -281px;
  height: 9px;
  width: 37px;
}
.infoInner .share a,
.infoInner .operation,
.infoInner .buttonBorder {
  margin: 0 0 0 20px;
}
.infoInner .share.like {
  margin: 0 10px;
}
.infoInner .share {
  margin: 0 30px 0 0;
  float: right;
}
.infoInner .share a {
  display: inline-block !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.infoInner .share.like {
  right: 287px;
  top: 100px;
}
/* Баннер
-----------------------------------------------------------------------------*/
.content-box {
  font: normal 14px/1.1 'Roboto';
  position: relative;
  text-align: center;
  min-width: 1000px;
  margin: 0 -29px;
  color: #fff;
  overflow: hidden;
}
.content-box .pattern {
  display: table;
  vertical-align: middle;
}
.content-box .pattern .inner_center {
  display: table-cell;
  vertical-align: middle;
}
.content-box .headingBanner {
  padding-bottom: 30px;
}
.content-box img {
  min-width: 180px;
  line-height: 0;
  float: left;
  margin: 0;
  padding: 0;
}
.content-box .bg {
  position: relative;
  min-width: 1000px;
  margin-top: -10%;
  max-width: 100%;
  display: none;
  width: 100%;
  top: 190px;
}
.content-box.users {
  background: url("/images/banner_users.jpg") no-repeat 50% 50%;
  height: 270px;
}
.content-box.photo_day {
  background: url("/images/banner_photo_day.jpg") no-repeat 50% 50%;
  height: 340px;
}
.content-box.nash_proekt {
  background: url("/images/banner_nash_proekt.jpg") no-repeat 50% 50%;
  height: 270px;
}
.content-box.nash_proekt .info {
  max-width: 1300px;
  margin: 0 auto;
}
.content-box.nash_proekt .info td {
  text-align: center;
  padding: 20px 0px;
  width: 12.5%;
}
.content-box.nash_proekt .info span {
  font: normal lighter 36px 'Roboto';
  display: block;
}
.content-box.nash_proekt .item {
  margin: 20px;
  float: left;
}
.content-box.lubite_putrshestvovat {
  background: url("/images/banner_lubite_putrshestvovat.jpg") no-repeat 50% 50%;
  height: 453px;
}
.content-box.lubite_putrshestvovat table {
  max-width: 1040px;
  margin: 26px auto;
}
.content-box.lubite_putrshestvovat table td {
  width: 16.66666667%;
}
.content-box.lubite_putrshestvovat .icon {
  display: block;
  text-align: center;
  margin: 8px auto;
}
.content-box.lubite_putrshestvovat .icon.i1 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat 0px 0px;
  height: 41px;
  width: 46px;
}
.content-box.lubite_putrshestvovat .icon.i2 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat -47px 0px;
  height: 41px;
  width: 46px;
}
.content-box.lubite_putrshestvovat .icon.i3 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat -94px 0px;
  height: 41px;
  width: 40px;
}
.content-box.lubite_putrshestvovat .icon.i4 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat -135px 0px;
  height: 41px;
  width: 46px;
}
.content-box.lubite_putrshestvovat .icon.i5 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat -182px 0px;
  height: 41px;
  width: 38px;
}
.content-box.lubite_putrshestvovat .icon.i6 {
  background: url("/images/sprite_lubite_putrshestvovat.png") no-repeat -221px 0px;
  height: 41px;
  width: 45px;
}
.headingBanner {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
  font: normal 48px/1.3 'Roboto';
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  color: #fff;
}
.headingBanner.h1 {
  font: normal 36px/1 'Roboto';
  margin: -10px 0 30px 0;
}
.headingBanner.h2 {
  font: normal lighter 24px/1 'Roboto';
  letter-spacing: normal;
  margin: 30px 0 10px 0;
  text-transform: none;
  text-shadow: none;
}
/* Фильтр
-----------------------------------------------------------------------------*/
.filter-photoalbums {
  position: relative;
}
.filter-photoalbums .pattern {
  display: block;
}
.filter-photoalbums .filter-box {
  background: #171719 url("/images/filter-box_pattern.png") repeat-x;
  border-top: 3px solid #ffce00;
  padding: 0;
  height: 1500px;
  width: 380px;
  float: left;
}
.filter-photoalbums .filter-label {
  font: normal 18px 'Roboto';
  text-align: left;
  margin: 26px 30px 15px 30px;
  color: #fff;
}
.filter-photoalbums .filter-map {
  background: url("/images/map_filter_bg.png") no-repeat;
  margin: 10px auto;
  height: 180px;
  width: 362px;
}
.filter-photoalbums .inner,
.filter-photoalbums .filter-box,
.filter-photoalbums .items-box {
  position: relative;
  z-index: 3;
  height: auto;
}
.filter-photoalbums .filter-box {
  z-index: 4;
}
.filter-photoalbums .inner-option {
  margin: 0 17px 0 30px;
}
.filter-photoalbums .inner-option ul {
  text-align: left;
  margin: -10px 0;
}
.filter-photoalbums .inner-option ul li {
  margin: 5px 0;
}
.filter-photoalbums table {
  border-collapse: collapse;
  margin: -12px 0 0;
  width: 100%;
}
.filter-photoalbums table td {
  text-align: left;
}
/* Фильтр
-----------------------------------------------------------------------------*/
.photoalbum_filter {
  margin: 30px 0 38px 0;
  min-height: 283px;
  position: relative;
}
.photoalbum_filter .inner {
  background: #000000 url("/images/photoalbum_filter_bg.jpg") repeat-x 34px 0;
  min-height: 283px;
}
.photoalbum_filter .heading {
  padding: 2px 3px 2px 27px;
  font: normal 21px 'Roboto';
  background: #ffce00;
  height: 30px;
  color: #000;
}
.photoalbum_filter .heading input,
.photoalbum_filter .heading input::-webkit-input-placeholder {
  font: normal 13px/2 'Roboto';
  color: #554b26;
}
.photoalbum_filter .heading input:-moz-placeholder {
  font: normal 13px/2 'Roboto';
  color: #554b26;
}
.photoalbum_filter .heading input {
  background: #e1b205;
  padding: 7px 26px;
  position: relative;
  outline: none;
  width: 357px;
  height: 13px;
  border: none;
  top: -3px;
}
.photoalbum_filter .heading button {
  background: url("/images/buttons/button_sprite.png") no-repeat 0px -82px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  position: absolute;
  display: block;
  outline: none;
  border: none;
  right: 23px;
  top: 7px;
}
.photoalbum_filter .heading form {
  position: relative;
  float: right;
}
.photoalbum_filter .showFilter_inner {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}
/* Результаты выборки
-----------------------------------------------------------------------------*/
#searchResult .eq4,
#searchResult .eq5,
#searchResult .eq6 {
  display: none;
}
/* Кнопочки
-----------------------------------------------------------------------------*/
.buttonBorder {
  background-image: url("/images/shadow/50.png");
  background-repeat: repeat;
  background-color: transparent;
  font: normal lighter 15px/1 'Roboto';
  margin-left: 10px !important;
  padding: 9px 20px 10px 20px;
  border: 1px solid #ffce00;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 22px;
  -khtml-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  position: relative;
  cursor: pointer;
  color: #ffce00;
}
.buttonBorder.yellow {
  background: url("/images/button_yellow_bg.png") repeat-x;
  -webkit-box-shadow: 1px 1px 2px 0px #1f1f1f;
  -moz-box-shadow: 1px 1px 2px 0px #1f1f1f;
  box-shadow: 1px 1px 2px 0px #1f1f1f;
  border: none;
  color: #000;
}
.buttonBorder.yellow:hover {
  background: #ffce00;
}
.buttonBorder.center {
  text-align: center;
  float: none;
}
.buttonBorder.disabled {
  border-color: #8a9298;
  color: #8a9298;
}
.buttonBorder.avatar {
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.buttonBorder .buttonBorderArr {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -56px -187px;
  height: 7px;
  width: 11px;
}
.buttonBorder .buttonBorderArr.up {
  background: url("/images/sprite.png") no-repeat -56px -211px;
  height: 7px;
  width: 11px;
}
.buttonBorder.active,
.buttonBorder:hover {
  background: #ffce00;
  color: #000;
}
.buttonBorder.active .buttonBorderArr,
.buttonBorder:hover .buttonBorderArr {
  background: url("/images/sprite.png") no-repeat -56px -195px;
  height: 7px;
  width: 11px;
}
.buttonBorder.active .buttonBorderArr.up,
.buttonBorder:hover .buttonBorderArr.up {
  background: url("/images/sprite.png") no-repeat -56px -203px;
  height: 7px;
  width: 11px;
}
.button .arr {
  margin-top: -23.5px;
  position: absolute;
  display: block;
  z-index: 4;
  top: 50%;
}
.button.next {
  right: 0;
}
.button.next .arr {
  background: url("/images/sprite.png") no-repeat -133px -94px;
  height: 47px;
  width: 27px;
}
.button.prev {
  left: 0;
}
.button.prev .arr {
  background: url("/images/sprite.png") no-repeat -105px -94px;
  height: 47px;
  width: 27px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  position: relative;
  margin: -71px auto 0;
  min-width: 1000px;
  height: 71px;
  background: url("/images/bg_footer.png") repeat 50% 50%;
}
.footer .footer_inner {
  height: 71px;
  max-width: 2229px;
  margin: 0 auto;
}
.footer .page {
  display: none;
}
.footer.openAbout {
  height: 803px;
}
.footer.openAbout .about {
  text-decoration: none;
  background: #ffce00;
  color: #000;
}
.footer.openAbout .object1 {
  background: url("/images/about/object1.png") no-repeat;
  margin-left: -270px;
  position: absolute;
  bottom: 0px;
  height: 646px;
  width: 540px;
  left: 50%;
}
.footer.openAbout .page {
  position: relative;
  background: #b0ecfd url("/images/footer_about_bg.jpg") repeat-x 100% 100%;
  display: block;
  min-height: 732px;
}
.footer.openAbout .page .inner {
  padding: 86px 30px 60px 30px;
  height: auto;
  margin: 0 auto;
}
.footer.openAbout .page .inner table {
  width: 100%;
}
.footer.openAbout .page .inner h1 {
  font: normal lighter 24px/1 'Roboto';
  padding-bottom: 14px;
}
.footer.openAbout .page .inner p {
  font: normal lighter 14px/24px 'Roboto';
  padding-bottom: 14px;
}
.footer a {
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer nav {
  padding: 24px 0 0 29px;
  position: absolute;
}
.footer nav a {
  color: #ffce00;
}
.footer nav,
.footer nav span {
  color: #cccccc;
}
.footer nav.left {
  float: left;
}
.footer nav.left a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: -10px;
  height: 33px;
}
.footer nav.left span {
  padding: 0 48px 0 0;
}
.footer nav.left .share {
  display: inline-block;
  position: relative;
  margin: 0 28px 0 0;
  height: 17px;
  padding: 0;
  top: -6px;
}
.footer nav.left .share a {
  line-height: 0;
  margin: 0;
  padding: 0;
}
.footer nav.right {
  float: right;
  padding: 18px 29px 0 0px;
}
.footer .socialNetwork {
  display: inline-block;
  margin: 3px 60px 0 15px;
}
.footer .socialNetwork a {
  background: url("/images/sprite_socialNetwork.png") no-repeat -1px 0px;
  height: 26px;
  width: 26px;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  margin: 0 3px 0 0;
}
.footer .socialNetwork a.vk {
  background: url("/images/sprite_socialNetwork.png") no-repeat 0px -26px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a.odnoklassniki {
  background: url("/images/sprite_socialNetwork.png") no-repeat -27px -26px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a.facebook {
  background: url("/images/sprite_socialNetwork.png") no-repeat -54px -26px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a.google {
  background: url("/images/sprite_socialNetwork.png") no-repeat -81px -26px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a.twitter {
  background: url("/images/sprite_socialNetwork.png") no-repeat -108px -26px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a:hover.vk {
  background: url("/images/sprite_socialNetwork.png") no-repeat 0px 0px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a:hover.odnoklassniki {
  background: url("/images/sprite_socialNetwork.png") no-repeat -27px 0px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a:hover.facebook {
  background: url("/images/sprite_socialNetwork.png") no-repeat -54px 0px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a:hover.google {
  background: url("/images/sprite_socialNetwork.png") no-repeat -81px 0px;
  height: 26px;
  width: 26px;
}
.footer .socialNetwork a:hover.twitter {
  background: url("/images/sprite_socialNetwork.png") no-repeat -108px 0px;
  height: 26px;
  width: 26px;
}
@media screen and (max-width: 1362px) {
  .header .header_inner nav {
    width: auto;
  }
  .sSpace {
    padding: 0 57px;
  }
  .photoalbum_inner.slider .sliderItems .eq4 {
    display: none;
  }
  .photoalbum_inner.slider .photoalbum {
    height: 630px;
  }
  #searchResult .photoalbum.w25 {
    width: 50%;
    height: 311px;
  }
  #firstAlbums .photoalbum {
    width: 50%;
  }
  .infoBox .box_inner.w25 {
    width: 24%;
  }
  .infoBox .box_inner.w75 {
    width: 72.5%;
  }
  .infoBox .newsBox .news li {
    display: none;
  }
  .infoBox .newsBox .news li.eq0,
  .infoBox .newsBox .news li.eq1 {
    display: block;
    width: 100%;
  }
}
/* 2181
--------------------------------------*/
@media screen and (min-width: 1920px) {
  .margin-fix {
    margin: 0 -10px;
  }
  .inner {
    margin: 0 5px;
  }
  .photoalbum_filter {
    float: left;
    margin-top: 0;
    display: inline-block;
    width: 57.14285714%;
  }
  .infoBox .news ul li {
    width: 25%;
  }
}
/* 1176
--------------------------------------*/
@media screen and (max-width: 1176px) {
  .photoalbum_inner.slider .sliderItems .eq3 {
    display: none;
  }
  .photoalbum_inner.slider .photoalbum {
    height: 470px;
  }
  .header .header_inner nav a {
    margin: 0 1%;
  }
  .sSpace {
    padding: 0 57px;
  }
  .experts .box .col-50 {
    width: auto;
  }
  .experts .sliderExperts .slider_inner .item {
    width: 16.66666667%;
  }
  .experts .sliderExperts .slider_inner .item.hidden {
    display: inline-block;
  }
  .infoBox .box_inner.w25 {
    width: 24%;
  }
  .infoBox .box_inner.w75 {
    width: 72%;
  }
}
@media screen and (min-width: 1700px) {
  #searchResult .photoalbum {
    width: 20%;
  }
  #searchResult .eq4 {
    display: inline-block;
  }
}
@media screen and (min-width: 1900px) {
  .content-box .bg {
    display: block;
  }
  #searchResult .photoalbum {
    width: 16.66666667%;
  }
  #searchResult .eq5 {
    display: inline-block;
  }
}
@media screen and (min-width: 2100px) {
  .newsBox .news li {
    width: 25%;
  }
  .newsBox .news .eq2 {
    display: none;
  }
  .box .box_inner.w25 {
    width: 25%;
  }
  .box .box_inner.w25 .infoBox .col {
    height: 100%;
    width: 50%;
  }
  .box .box_inner.w75 {
    width: 36%;
    height: 100%;
  }
}
.contentInner {
  color: #000000;
  font: normal 14px/20px 'Roboto';
}
.contentInner h1,
.contentInner h2,
.contentInner h3,
.contentInner h4,
.contentInner h5,
.contentInner h6 {
  font: normal 40px/1 'Roboto';
  font-weight: lighter;
}
.contentInner h1 {
  font-size: 40px;
}
.contentInner h2 {
  font-size: 36px;
}
.contentInner h3 {
  font-size: 28px;
}
.contentInner h4 {
  font-size: 24px;
}
.contentInner h5 {
  font-size: 22px;
}
.contentInner h6 {
  font-size: 20px;
}
.contentInner p {
  padding: 0 0 18px;
}
.description_img {
  font: normal 13px/1 'Roboto';
  text-align: right;
  color: #666666;
  margin-bottom: 4px;
}
.description_img a {
  color: #336699;
  text-decoration: none;
}
.description_img img {
  margin-bottom: 5px !important;
}
.counters {
  position: absolute;
  right: 200%;
  top: 0;
}
#searchResult .photoalbum:hover a img,
.box_inner:hover a img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.menuActions {
  margin-bottom: 18px;
  margin-top: 15px;
  position: relative;
  z-index: 3;
}
.menuActions a {
  font: normal normal 12px/1 'Roboto';
  text-decoration: none;
  color: #ffce00;
}
.menuActions a span {
  display: inline-block;
  margin-right: 3px;
}
.menuActions a.view span {
  background: url("/images/sprite.png") no-repeat 0px -146px;
  height: 11px;
  width: 18px;
}
.addRecord {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  margin: 0 8px 0 8px;
  background: #297496;
  text-align: center;
  position: relative;
  height: 140px;
  width: 140px;
  color: #fff;
}
.addRecord .addRecordBg {
  background: url("/images/profile/sprite.png") no-repeat 0px -102px;
  height: 102px;
  width: 106px;
  margin-left: -70.66666667px;
  margin-top: -37.77777778px;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
}
.addRecord .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  z-index: 1;
}
.addRecord span {
  font: normal lighter 15px 'Roboto';
  position: relative;
  color: #fff;
  z-index: 1;
  top: 63%;
}
.addRecord.video {
  background: #216888;
}
.addRecord.video .icon {
  margin: -20.86956522px 0 0 -12px;
  background: url("/images/profile/sprite.png") no-repeat -245px -1px;
  height: 24px;
  width: 24px;
}
.addRecord.onAir {
  background: #46575e;
}
.addRecord.onAir .addRecordBg {
  background: url("/images/profile/sprite.png") no-repeat 0px -306px;
  height: 102px;
  width: 106px;
}
.addRecord.onAir .icon {
  margin: -20.83333333px 0 0 -12.5px;
  background: url("/images/profile/sprite.png") no-repeat -270px 0px;
  height: 25px;
  width: 25px;
}
.addRecord.photo .icon {
  margin: -19.28571429px 0 0 -21px;
  background: url("/images/profile/sprite.png") no-repeat -202px 0px;
  height: 27px;
  width: 42px;
}
.addRecord.photos .icon {
  margin: -18.57142857px 0 0 -14.5px;
  background: url("/images/profile/sprite.png") no-repeat -108px 0px;
  height: 26px;
  width: 29px;
}
.addRecord.question .icon {
  margin: -21.66666667px 0 0 -15.5px;
  background: url("/images/profile/sprite.png") no-repeat -138px 0px;
  height: 26px;
  width: 31px;
}
.addRecord.council .icon {
  margin: -21.66666667px 0 0 -15.5px;
  background: url("/images/profile/sprite.png") no-repeat -170px 0px;
  height: 26px;
  width: 31px;
}
.addRecord:hover {
  background: #ffce00;
}
.addRecord:hover span {
  color: #000;
}
.addRecord:hover .addRecordBg {
  background: url("/images/profile/sprite.png") no-repeat 0px 0px;
  height: 102px;
  width: 106px;
}
.addRecord:hover.video .icon {
  background: url("/images/profile/sprite.png") no-repeat -245px -29px;
  height: 24px;
  width: 24px;
}
.addRecord:hover.onAir .addRecordBg {
  background: url("/images/profile/sprite.png") no-repeat 0px -204px;
  height: 102px;
  width: 106px;
}
.addRecord:hover.onAir .icon {
  background: url("/images/profile/sprite.png") no-repeat -270px -29px;
  height: 25px;
  width: 25px;
}
.addRecord:hover.photo .icon {
  background: url("/images/profile/sprite.png") no-repeat -202px -28px;
  height: 27px;
  width: 42px;
}
.addRecord:hover.photos .icon {
  background: url("/images/profile/sprite.png") no-repeat -108px -29px;
  height: 26px;
  width: 29px;
}
.addRecord:hover.question .icon {
  background: url("/images/profile/sprite.png") no-repeat -138px -29px;
  height: 26px;
  width: 31px;
}
.addRecord:hover.council .icon {
  background: url("/images/profile/sprite.png") no-repeat -170px -29px;
  height: 26px;
  width: 31px;
}
.addRecord .bg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.addRecord input {
  display: none;
}
.yiiLog {
  position: fixed;
  z-index: 333;
  bottom: 0;
}
.listParamsItem {
  color: #fff;
}
.listParamsItem dl dd,
.listParamsItem dl dt {
  margin: 0 7px 19px 0;
}
.listParamsItem dl dt {
  text-align: right;
  float: left;
  width: 20px;
}
.listParamsItem table {
  margin: 0px auto 0;
}
.listParamsItem table tr td {
  font: normal lighter 13px/1 'Roboto';
  text-align: center;
  width: 33.33333333%;
}
.listParamsItem table tr td > span {
  font-size: 30px;
  display: inline-block;
  width: 100%;
}
/**
-----------------------------------------------------------------*/
#process {
  position: fixed;
  z-index: 333;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#process .message {
  padding: 30px;
  font: normal lighter 40px/1 'Roboto';
  background-image: url("/images/shadow/50.png");
  background-repeat: repeat;
  position: absolute;
  text-align: center;
  width: 800px;
  color: #fff;
  margin: 0 -430px;
  z-index: 2;
  left: 50%;
  top: 50%;
}
.viewerPhoto {
  background: #303234 url("/images/bg_body.png");
  min-width: 1000px;
  min-height: 800px;
  position: fixed;
  z-index: 899;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.viewerPhoto .close {
  position: absolute;
  top: 63px;
  right: 30px;
  width: 130px;
  height: 30px;
  color: #fff;
  text-align: right;
}
.viewerPhoto .closeSlider {
  display: block;
  float: right;
  margin: 0 0 0 10px;
}
.viewerPhoto .control {
  cursor: pointer;
}
.viewerPhoto .link {
  position: absolute;
  display: block;
  width: 170px;
  top: 90px;
  bottom: 0;
}
.viewerPhoto .link > .arr {
  margin-top: -23.5px;
  position: absolute;
  display: block;
  right: auto;
  z-index: 4;
  left: auto;
  top: 50%;
}
.viewerPhoto .link.next {
  right: 0;
}
.viewerPhoto .link.next .arr {
  right: 30px;
  background: url("/images/sprite.png") no-repeat -133px -94px;
  height: 47px;
  width: 27px;
}
.viewerPhoto .link.prev .arr {
  left: 30px;
  background: url("/images/sprite.png") no-repeat -105px -94px;
  height: 47px;
  width: 27px;
}
.viewerPhoto .inner {
  margin: 100px 170px;
  position: relative;
  height: auto;
  width: auto;
}
.viewerPhoto .inner .SlideCast {
  position: relative;
  margin: 0 auto;
}
.viewerPhoto .inner .slide .imagesInner {
  text-align: center;
}
.viewerPhoto .inner .slide .imagesInner .img {
  max-width: 100%;
  max-height: 100%;
}
.viewerPhoto .inner .slide .imagesInner .img_small {
  display: none;
}
.formErrorReportWidget {
  position: relative;
  padding: 30px;
  margin: 11px 0;
}
.formErrorReportWidget form {
  position: relative;
  z-index: 2;
}
.formErrorReportWidget form .inpt {
  line-height: 26px;
}
.formErrorReportWidget form .inpt input {
  margin-right: 6px;
}
.scrollAlterContentInnerFix {
  position: relative;
  overflow: hidden;
}
.scrollAlter {
  position: absolute;
  margin: 10px 0;
  display: none;
  width: 12px;
  bottom: 0;
  right: 0;
  top: 0;
}
.scrollAlter.open {
  display: block;
}
.scrollAlter .fsInner {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
}
.scrollAlter .fs {
  background: #ffce00;
  position: absolute;
  height: 100%;
  width: 6px;
  left: 2px;
}
.scrollAlter .arr {
  position: absolute;
  display: block;
  top: auto;
  left: 0;
  right: auto;
  bottom: auto;
}
.scrollAlter .arr.t {
  background: url("/images/sprite.png") no-repeat -56px -211px;
  height: 7px;
  width: 11px;
  top: -10px;
}
.scrollAlter .arr.b {
  background: url("/images/sprite.png") no-repeat -56px -187px;
  height: 7px;
  width: 11px;
  bottom: -10px;
}
.beige .scrollAlter .fs,
.gray .scrollAlter .fs {
  background: #336699;
}
.beige .scrollAlter .arr,
.gray .scrollAlter .arr {
  left: -1px;
}
.beige .scrollAlter .arr.t,
.gray .scrollAlter .arr.t {
  background: url("/images/sprite.png") no-repeat -55px -126px;
  height: 8px;
  width: 13px;
}
.beige .scrollAlter .arr.b,
.gray .scrollAlter .arr.b {
  background: url("/images/sprite.png") no-repeat -55px -135px;
  height: 8px;
  width: 13px;
}
.listPhotoreport {
  width: 100%;
}
.listPhotoreport .itemListPhotoreport {
  display: none;
}
.listPhotoreport .itemListPhotoreport .photoreport_control .arr {
  margin-top: 21px;
  float: left;
}
.listPhotoreport .catalogItem {
  display: inline-block;
}
.listPhotoreport .tab {
  display: none;
}
.listPhotoreport.photoreportsseries .tab#photoreportsseries,
.listPhotoreport.photoreports .tab#photoreports,
.listPhotoreport.photoreportsseriesedit .tab.photoreportsseriesedit {
  display: block;
}
.listPhotoreport.photoreports .photoreportsseriesadd,
.listPhotoreport.photoreportsseries .photoreportsseriesadd,
.listPhotoreport.photoreports .photoreportsseriesedit,
.listPhotoreport.photoreportsseries .photoreportsseriesedit {
  display: none;
}
.listPhotoreport.photoreports.edit .listSeries,
.listPhotoreport.photoreportsseries.edit .listSeries {
  display: none;
}
.listPhotoreport.photoreports.edit .photoreportsseriesadd,
.listPhotoreport.photoreportsseries.edit .photoreportsseriesadd,
.listPhotoreport.photoreports.edit .photoreportsseriesedit,
.listPhotoreport.photoreportsseries.edit .photoreportsseriesedit {
  display: block;
}
.listPhotoreport.list .catalogItem {
  display: none;
}
.listPhotoreport.list .itemListPhotoreport {
  display: block;
}
.listPhotoreport .itemListPhotoreport {
  border-top: 1px solid #717172;
  padding: 0 25px;
  height: 69px;
}
.listPhotoreport .itemListPhotoreport .colleft {
  overflow: hidden;
}
.listPhotoreport .itemListPhotoreport .colleft .colleftInner {
  width: 2000px;
}
.listPhotoreport .itemListPhotoreport .colleft .col {
  display: inline-block;
  float: none;
}
.listPhotoreport .itemListPhotoreport .col {
  display: inline-block;
  margin: 0 5px;
  height: 69px;
  line-height: 69px;
  vertical-align: middle;
  min-width: 27px;
}
.listPhotoreport .itemListPhotoreport .col img {
  height: 50px;
  width: 50px;
  margin-top: 9.5px;
}
.listPhotoreport .itemListPhotoreport .col .flag {
  margin-top: 27.5px;
}
.listPhotoreport .itemListPhotoreport .col.c2 {
  width: 30px;
}
.listPhotoreport .itemListPhotoreport .col.c3 {
  width: 59px;
}
.listPhotoreport .itemListPhotoreport .col.cDate {
  float: right;
  font-size: 15px;
}
.listPhotoreport .itemListPhotoreport .col .menuEditItemListPhotoreport {
  display: none;
  margin: 0 5px;
}
.listPhotoreport .itemListPhotoreport .col .menuEditItemListPhotoreport a {
  font-size: 15px;
  color: #ffce00;
  margin: 0 5px;
}
.listPhotoreport .itemListPhotoreport .col .menuEditItemListPhotoreport .operation {
  position: relative;
  top: 10px;
}
.listPhotoreport .itemListPhotoreport .col,
.listPhotoreport .itemListPhotoreport .col a,
.listPhotoreport .itemListPhotoreport .col input {
  font: normal lighter 16px/69px 'Roboto';
  outline: none;
  border: none;
  color: #fff;
}
.listPhotoreport .itemListPhotoreport .col input {
  background: transparent;
}
.listPhotoreport .itemListPhotoreport .col .noname {
  color: #0a8bfb;
}
.listPhotoreport .itemListPhotoreport .col .params {
  padding-right: 18px;
}
.listPhotoreport .itemListPhotoreport .col .param {
  padding-left: 20px;
}
.listPhotoreport .itemListPhotoreport .col .param .icon {
  margin-left: 4px;
}
.listPhotoreport .itemListPhotoreport:hover {
  background: url("/images/profile/list_photoreport_pattern.png");
}
.listPhotoreport .itemListPhotoreport:hover .menuEditItemListPhotoreport {
  display: inline-block;
}
.listPhotoreport .item:first-child .itemListPhotoreport {
  border-top: none;
}
.listPhotoreport .item .checkbox span {
  background: url("/images/sprite.png") no-repeat -166px -99px;
  height: 16px;
  width: 17px;
  font: normal 13px 'Roboto';
  text-decoration: none;
  color: #fff;
}
.listPhotoreport .item .checkbox span > span {
  background: url("/images/sprite.png") no-repeat -166px -99px;
  height: 16px;
  width: 17px;
  display: inline-block;
  margin: 0 8px 0 0;
  position: relative !important;
  top: 3px;
}
.listPhotoreport .item .checkbox span > span input {
  position: absolute;
  z-index: -100;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.listPhotoreport .item .checkbox span.inside {
  padding-bottom: 5px;
  display: block;
}
.listPhotoreport .item .checkbox span.inside > span {
  float: left;
  top: 2px;
}
.listPhotoreport .item .checkbox span.inside .label {
  padding-left: 25px;
  display: block;
}
.listPhotoreport .item .checkbox span:hover > span {
  background: url("/images/sprite.png") no-repeat -166px -116px;
  height: 16px;
  width: 17px;
}
.listPhotoreport .item .checkbox span:active > span {
  background: url("/images/sprite.png") no-repeat -166px -133px;
  height: 16px;
  width: 17px;
}
.listPhotoreport .item .checkbox span.checked > span {
  background: url("/images/sprite.png") no-repeat -166px -82px;
  height: 16px;
  width: 17px;
}
.listPhotoreport .item .checkbox span input {
  position: absolute;
  z-index: -100;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.listPhotoreport .item.checked .arr {
  position: absolute;
}
.listPhotoreport .item.checked .arr.up {
  right: 30px;
}
.listPhotoreport .item.checked .arr.down {
  right: 0;
}
.listPhotoreport .item.checked .checkbox span {
  background: url("/images/sprite.png") no-repeat -166px -82px;
  height: 16px;
  width: 17px;
}
.listPhotoreport .item.checked:first-child .arr.up {
  display: none;
}
.listPhotoreport .item.checked:last-child .arr.down {
  display: none;
}
.listPhotoreport .item.checked .itemListPhotoreport {
  background: url("/images/profile/list_photoreport_pattern.png");
}
.listPhotoreport .item.checked .itemListPhotoreport .menuEditItemListPhotoreport {
  display: inline-block;
}
#userMenu {
  background: #32363d url("/images/catalogItem_pattern_bg.png");
  display: none;
  padding: 30px 0 15px;
  position: fixed;
  left: 100%;
  top: 53px;
}
#userMenu a {
  border-left: 3px solid transparent;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 25px;
  white-space: nowrap;
}
#userMenu a:hover {
  background: rgba(255, 255, 255, 0.07);
  border-left: 3px solid #ffce00;
}
#userMenu a .num {
  background: #ffce00;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
#userMenu .hr {
  height: 1px;
  background: #525c64;
  margin: 20px 0;
}
.footer .sSpace,
.sSpace {
  max-width: 1540px ;
}
.poleznoznat {
  padding: 83px 0 71px 0;
  overflow: hidden;
}
.poleznoznat .sSpace {
  margin-bottom: -12px;
}
.poleznoznat .articleTitle {
  font: normal lighter 36px/1 'Roboto';
  color: #fff;
}
.poleznoznat .itemDescription {
  padding-top: 7px;
  display: none;
  color: #fff;
}
.poleznoznat .itemDescription .itemTitle {
  font: normal lighter 24px/1 'Roboto';
  padding: 1px 0 5px 0;
}
.poleznoznat .itemDescription .itemText {
  font: normal lighter 15px/26px 'Roboto';
  padding: 2px 0 10px 0;
}
.poleznoznat .itemDescription .itemText p {
  padding-bottom: 10px;
}
.poleznoznat .itemDescription.active {
  display: block;
}
.poleznoznat .date {
  color: #a6adb3;
  margin: 10px 0 0 0;
  font: normal lighter 13px/1 'Roboto';
}
.poleznoznat .listView {
  display: none;
  margin-top: 35px;
}
.poleznoznat .listView img {
  width: 100%;
}
.poleznoznat .listView .itemDescription {
  width: auto;
  padding: 33px 86px;
}
.poleznoznat .listView .menuActions {
  margin-bottom: 8px;
}
.poleznoznat .listView .slide .img_small {
  display: none;
}
.poleznoznat.list .listView,
.poleznoznat.list .itemDescription,
.poleznoznat.list .listView {
  display: block;
}
.poleznoznat.list .sliderView {
  position: absolute;
  z-index: -4;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .poleznoznat.listView .slide .img {
    display: none;
  }
  .poleznoznat.listView .slide .img_small {
    display: block;
  }
}
/**
  * Флаги стран
  */
.flagStaff {
  background: url("/images/gmap_marker.png") no-repeat 0 0;
  height: 21px;
  width: 31px;
  display: block;
}
.flag {
  background-image: url("/images/sprite_flags.png") !important;
  position: static;
  margin-left: 1px;
  height: 14px !important;
  width: 20px !important;
  opacity: 1 !important;
}
.flag.c0 {
  margin: 0 !important;
  width: 0 !important;
}
.flag.ah {
  background-position: 0px 0px;
}
.flag.au {
  background-position: -21px 0px;
}
.flag.at {
  background-position: -42px 0px;
}
.flag.az {
  background-position: -63px 0px;
}
.flag.ax {
  background-position: -84px 0px;
}
.flag.al {
  background-position: -105px 0px;
}
.flag.dz {
  background-position: -126px 0px;
}
.flag.ai {
  background-position: -147px 0px;
}
.flag.ao {
  background-position: -168px 0px;
}
.flag.ad {
  background-position: -189px 0px;
}
.flag.ag {
  background-position: -210px 0px;
}
.flag.ar {
  background-position: -231px 0px;
}
.flag.am {
  background-position: -252px 0px;
}
.flag.aw {
  background-position: -273px 0px;
}
.flag.af {
  background-position: 0px -15px;
}
.flag.ae {
  background-position: -231px -150px;
}
.flag.as {
  background-position: -63px -180px;
}
.flag.bs {
  background-position: -21px -15px;
}
.flag.bd {
  background-position: -42px -15px;
}
.flag.bb {
  background-position: -63px -15px;
}
.flag.bh {
  background-position: -84px -15px;
}
.flag.bz {
  background-position: -105px -15px;
}
.flag.by {
  background-position: -126px -15px;
}
.flag.be {
  background-position: -147px -15px;
}
.flag.bj {
  background-position: -168px -15px;
}
.flag.bm {
  background-position: -189px -15px;
}
.flag.bg {
  background-position: -210px -15px;
}
.flag.bo {
  background-position: -231px -15px;
}
.flag.bq {
  background-position: -252px -15px;
}
.flag.ba {
  background-position: -273px -15px;
}
.flag.bw {
  background-position: 0px -30px;
}
.flag.br {
  background-position: -21px -30px;
}
.flag.bn {
  background-position: -42px -30px;
}
.flag.bf {
  background-position: -63px -30px;
}
.flag.bi {
  background-position: -84px -30px;
}
.flag.bt {
  background-position: -105px -30px;
}
.flag.bq {
  background-position: 0px -180px;
}
.flag.cv {
  background-position: -252px -75px;
}
.flag.cm {
  background-position: -42px -90px;
}
.flag.ca {
  background-position: -63px -90px;
}
.flag.cy {
  background-position: -126px -90px;
}
.flag.cn {
  background-position: -189px -90px;
}
.flag.cc {
  background-position: -231px -90px;
}
.flag.co {
  background-position: -252px -90px;
}
.flag.cg {
  background-position: 0px -105px;
}
.flag.cd {
  background-position: -21px -105px;
}
.flag.cr {
  background-position: -84px -105px;
}
.flag.ci {
  background-position: -105px -105px;
}
.flag.cu {
  background-position: -126px -105px;
}
.flag.ck {
  background-position: -168px -105px;
}
.flag.cw {
  background-position: -189px -105px;
}
.flag.cf {
  background-position: -105px -225px;
}
.flag.cz {
  background-position: -168px -225px;
}
.flag.cl {
  background-position: -189px -225px;
}
.flag.ch {
  background-position: -210px -225px;
}
.flag.de {
  background-position: -231px -45px;
}
.flag.dk {
  background-position: -147px -60px;
}
.flag.dj {
  background-position: -189px -60px;
}
.flag.dm {
  background-position: -210px -60px;
}
.flag.do {
  background-position: -231px -60px;
}
.flag.eg {
  background-position: -252px -60px;
}
.flag.es {
  background-position: -189px -75px;
}
.flag.ec {
  background-position: -273px -225px;
}
.flag.er {
  background-position: -21px -240px;
}
.flag.ee {
  background-position: -42px -240px;
}
.flag.et {
  background-position: -63px -240px;
}
.flag.fm {
  background-position: -126px -135px;
}
.flag.fo {
  background-position: -252px -210px;
}
.flag.fj {
  background-position: -273px -210px;
}
.flag.fi {
  background-position: -21px -225px;
}
.flag.fk {
  background-position: -42px -225px;
}
.flag.fr {
  background-position: -63px -225px;
}
.flag.ga {
  background-position: -21px -45px;
}
.flag.gb {
  background-position: -168px -30px;
}
.flag.gy {
  background-position: -63px -45px;
}
.flag.gm {
  background-position: -84px -45px;
}
.flag.gh {
  background-position: -105px -45px;
}
.flag.gp {
  background-position: -126px -45px;
}
.flag.gt {
  background-position: -147px -45px;
}
.flag.gf {
  background-position: -168px -45px;
}
.flag.gn {
  background-position: -189px -45px;
}
.flag.gw {
  background-position: -210px -45px;
}
.flag.gg {
  background-position: -252px -45px;
}
.flag.gi {
  background-position: -273px -45px;
}
.flag.gd {
  background-position: -42px -60px;
}
.flag.gl {
  background-position: -63px -60px;
}
.flag.gr {
  background-position: -84px -60px;
}
.flag.ge {
  background-position: -105px -60px;
}
.flag.gu {
  background-position: -126px -60px;
}
.flag.gq {
  background-position: 0px -240px;
}
.flag.hu {
  background-position: -189px -30px;
}
.flag.ht {
  background-position: -42px -45px;
}
.flag.hk {
  background-position: -21px -60px;
}
.flag.hr {
  background-position: -84px -225px;
}
.flag.il {
  background-position: -21px -75px;
}
.flag.in {
  background-position: -42px -75px;
}
.flag.id {
  background-position: -63px -75px;
}
.flag.iq {
  background-position: -105px -75px;
}
.flag.ir {
  background-position: -126px -75px;
}
.flag.ie {
  background-position: -147px -75px;
}
.flag.is {
  background-position: -168px -75px;
}
.flag.it {
  background-position: -210px -75px;
}
.flag.je {
  background-position: -168px -60px;
}
.flag.jo {
  background-position: -84px -75px;
}
.flag.jm {
  background-position: -126px -240px;
}
.flag.jp {
  background-position: -147px -240px;
}
.flag.kz {
  background-position: -273px -75px;
}
.flag.ky {
  background-position: 0px -90px;
}
.flag.kh {
  background-position: -21px -90px;
}
.flag.ke {
  background-position: -105px -90px;
}
.flag.kg {
  background-position: -147px -90px;
}
.flag.ki {
  background-position: -168px -90px;
}
.flag.km {
  background-position: -273px -90px;
}
.flag.kp {
  background-position: -42px -105px;
}
.flag.kr {
  background-position: -63px -105px;
}
.flag.kw {
  background-position: -147px -105px;
}
.flag.kn {
  background-position: -273px -180px;
}
.flag.la {
  background-position: -210px -105px;
}
.flag.lv {
  background-position: -231px -105px;
}
.flag.ls {
  background-position: -252px -105px;
}
.flag.lr {
  background-position: -273px -105px;
}
.flag.lb {
  background-position: 0px -120px;
}
.flag.ly {
  background-position: -21px -120px;
}
.flag.lt {
  background-position: -42px -120px;
}
.flag.li {
  background-position: -63px -120px;
}
.flag.lu {
  background-position: -84px -120px;
}
.flag.lc {
  background-position: 0px -195px;
}
.flag.lk {
  background-position: -252px -225px;
}
.flag.mu {
  background-position: -105px -120px;
}
.flag.mr {
  background-position: -126px -120px;
}
.flag.mg {
  background-position: -147px -120px;
}
.flag.mo {
  background-position: -168px -120px;
}
.flag.mk {
  background-position: -189px -120px;
}
.flag.mw {
  background-position: -210px -120px;
}
.flag.my {
  background-position: -231px -120px;
}
.flag.ml {
  background-position: -252px -120px;
}
.flag.mv {
  background-position: -273px -120px;
}
.flag.mt {
  background-position: 0px -135px;
}
.flag.ma {
  background-position: -42px -135px;
}
.flag.mq {
  background-position: -63px -135px;
}
.flag.mh {
  background-position: -84px -135px;
}
.flag.mx {
  background-position: -105px -135px;
}
.flag.mz {
  background-position: -147px -135px;
}
.flag.md {
  background-position: -168px -135px;
}
.flag.mc {
  background-position: -189px -135px;
}
.flag.mn {
  background-position: -210px -135px;
}
.flag.mm {
  background-position: -231px -135px;
}
.flag.me {
  background-position: -147px -225px;
}
.flag.hn {
  background-position: 0px -60px;
}
.flag.na {
  background-position: -252px -135px;
}
.flag.na {
  background-position: -273px -135px;
}
.flag.nr {
  background-position: 0px -150px;
}
.flag.np {
  background-position: -21px -150px;
}
.flag.ne {
  background-position: -42px -150px;
}
.flag.ng {
  background-position: -63px -150px;
}
.flag.nl {
  background-position: -84px -150px;
}
.flag.ni {
  background-position: -105px -150px;
}
.flag.nz {
  background-position: -126px -150px;
}
.flag.nc {
  background-position: -147px -150px;
}
.flag.no {
  background-position: -189px -150px;
}
.flag.nf {
  background-position: -210px -150px;
}
.flag.om {
  background-position: -252px -150px;
}
.flag.pk {
  background-position: -273px -150px;
}
.flag.pw {
  background-position: 0px -165px;
}
.flag.pa {
  background-position: -21px -165px;
}
.flag.pg {
  background-position: -42px -165px;
}
.flag.py {
  background-position: -63px -165px;
}
.flag.pe {
  background-position: -84px -165px;
}
.flag.pn {
  background-position: -105px -165px;
}
.flag.pl {
  background-position: -126px -165px;
}
.flag.pt {
  background-position: -147px -165px;
}
.flag.pr {
  background-position: -189px -165px;
}
.flag.pm {
  background-position: -231px -180px;
}
.flag.pm {
  background-position: -252px -180px;
}
.flag.ph {
  background-position: 0px -225px;
}
.flag.qa {
  background-position: -84px -90px;
}
.flag.cx {
  background-position: -210px -165px;
}
.flag.ru {
  background-position: -231px -165px;
}
.flag.rw {
  background-position: -252px -165px;
}
.flag.ro {
  background-position: -273px -165px;
}
.flag.rs {
  background-position: -21px -195px;
}
.flag.sv {
  background-position: -21px -180px;
}
.flag.sm {
  background-position: -84px -180px;
}
.flag.st {
  background-position: -105px -180px;
}
.flag.sa {
  background-position: -126px -180px;
}
.flag.sz {
  background-position: -147px -180px;
}
.flag.sj {
  background-position: -168px -180px;
}
.flag.sc {
  background-position: -189px -180px;
}
.flag.sn {
  background-position: -210px -180px;
}
.flag.sk {
  background-position: -42px -195px;
}
.flag.si {
  background-position: -63px -195px;
}
.flag.sb {
  background-position: -105px -195px;
}
.flag.so {
  background-position: -126px -195px;
}
.flag.sd {
  background-position: -147px -195px;
}
.flag.sr {
  background-position: -168px -195px;
}
.flag.sl {
  background-position: -189px -195px;
}
.flag.sy {
  background-position: -189px -240px;
}
.flag.sg {
  background-position: -210px -240px;
}
.flag.se {
  background-position: -231px -225px;
}
.flag.tl {
  background-position: -273px -30px;
}
.flag.tw {
  background-position: -210px -90px;
}
.flag.tj {
  background-position: -210px -195px;
}
.flag.th {
  background-position: -231px -195px;
}
.flag.tz {
  background-position: -252px -195px;
}
.flag.tc {
  background-position: -273px -195px;
}
.flag.tg {
  background-position: 0px -210px;
}
.flag.tk {
  background-position: -21px -210px;
}
.flag.to {
  background-position: -42px -210px;
}
.flag.tt {
  background-position: -63px -210px;
}
.flag.tv {
  background-position: -84px -210px;
}
.flag.tn {
  background-position: -105px -210px;
}
.flag.tm {
  background-position: -126px -210px;
}
.flag.tr {
  background-position: -147px -210px;
}
.flag.td {
  background-position: -126px -225px;
}
.flag.us {
  background-position: -84px -195px;
}
.flag.ug {
  background-position: -168px -210px;
}
.flag.uz {
  background-position: -189px -210px;
}
.flag.ua {
  background-position: -210px -210px;
}
.flag.uy {
  background-position: -231px -210px;
}
.flag.vu {
  background-position: -126px -30px;
}
.flag.va {
  background-position: -147px -30px;
}
.flag.ve {
  background-position: -210px -30px;
}
.flag.vi {
  background-position: -231px -30px;
}
.flag.vg {
  background-position: -252px -30px;
}
.flag.vn {
  background-position: 0px -45px;
}
.flag.ws {
  background-position: -42px -180px;
}
.flag.ye {
  background-position: -231px -75px;
}
.flag.za {
  background-position: -105px -240px;
}
.flag.zm {
  background-position: -273px -60px;
}
.flag.zw {
  background-position: 0px -75px;
}
.flag.xk {
  background-position: -168px -240px;
}
.sliderValue {
  position: relative;
  padding: 0 22px;
  height: 17px;
}
.sliderValue .sliderValueArr,
.sliderValue .sliderValueRange {
  display: block;
}
.sliderValue .sliderValueRange {
  background: #ffce00;
  height: 1px;
  width: 100%;
}
.sliderValue .sliderRange {
  padding: 7.5px 0;
  position: relative;
}
.sliderValue .ui-slider-handle {
  background: #ffce00;
  position: absolute;
  height: 13px;
  left: 0;
  top: 2px;
  width: 3px;
}
.sliderValue .sliderValueArr {
  position: absolute;
}
.sliderValue .sliderValueArr.up {
  right: 0;
  background: url("/images/sprite.png") no-repeat -362px -18px;
  height: 17px;
  width: 17px;
}
.sliderValue .sliderValueArr.up:hover {
  background: url("/images/sprite.png") no-repeat -362px 0px;
  height: 17px;
  width: 17px;
}
.sliderValue .sliderValueArr.down {
  left: 0;
  background: url("/images/sprite.png") no-repeat -344px -18px;
  height: 17px;
  width: 17px;
}
.sliderValue .sliderValueArr.down:hover {
  background: url("/images/sprite.png") no-repeat -344px 0px;
  height: 17px;
  width: 17px;
}
.checkbox {
  font: normal 13px 'Roboto';
  text-decoration: none;
  color: #fff;
}
.checkbox > span {
  background: url("/images/sprite.png") no-repeat -166px -99px;
  height: 16px;
  width: 17px;
  display: inline-block;
  margin: 0 8px 0 0;
  position: relative !important;
  top: 3px;
}
.checkbox > span input {
  position: absolute;
  z-index: -100;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.checkbox.inside {
  padding-bottom: 5px;
  display: block;
}
.checkbox.inside > span {
  float: left;
  top: 2px;
}
.checkbox.inside .label {
  padding-left: 25px;
  display: block;
}
.checkbox:hover > span {
  background: url("/images/sprite.png") no-repeat -166px -116px;
  height: 16px;
  width: 17px;
}
.checkbox:active > span {
  background: url("/images/sprite.png") no-repeat -166px -133px;
  height: 16px;
  width: 17px;
}
.checkbox.checked > span {
  background: url("/images/sprite.png") no-repeat -166px -82px;
  height: 16px;
  width: 17px;
}
.date {
  cursor: pointer;
}
.date a {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -137px -144px;
  height: 15px;
  width: 13px;
  margin: 0 5px;
}
.date span {
  font: normal lighter 18px/1 'Roboto';
  color: #fff;
  font-size: 18px;
  display: none;
}
.date span.checked {
  display: inline-block;
}
.rechecker {
  cursor: pointer;
}
.rechecker a {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -137px -144px;
  height: 15px;
  width: 13px;
  margin: 0 5px;
}
.rechecker span {
  font: normal lighter 18px/1 'Roboto';
  color: #fff;
  font-size: 18px;
  display: none;
}
.rechecker span.checked {
  display: inline-block;
}
.radiobuttonbox {
  border: 1px solid #ffce00;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  margin: 5px;
}
.radiobuttonbox ul {
  margin: -1px 0 !important;
}
.radiobuttonbox li {
  cursor: pointer;
  font: normal lighter 15px 'Roboto';
  text-align: center;
  border-bottom: 1px solid #ffce00;
  padding: 7px 7px 8px 7px;
  background-image: url("/images/shadow/50.png");
  background-repeat: repeat;
}
.radiobuttonbox li a {
  padding: 0 15px;
}
.radiobuttonbox li,
.radiobuttonbox li a {
  text-decoration: none;
  color: #ffce00;
}
.radiobuttonbox li .view_blocks .icon {
  position: relative;
  left: 2px;
  margin: -1px -9px;
  background: url("/images/sprite.png") no-repeat -198px -289px;
  height: 12px;
  width: 19px;
}
.radiobuttonbox li .view_list .icon {
  margin: -1px -9px;
  position: relative;
  left: -3px;
  background: url("/images/sprite.png") no-repeat -70px -187px;
  height: 12px;
  width: 17px;
}
.radiobuttonbox li.checked a,
.radiobuttonbox li:hover a {
  color: #000;
}
.radiobuttonbox li.checked .view_list .icon,
.radiobuttonbox li:hover .view_list .icon {
  background: url("/images/sprite.png") no-repeat -70px -200px;
  height: 12px;
  width: 17px;
}
.radiobuttonbox li.checked .view_blocks .icon,
.radiobuttonbox li:hover .view_blocks .icon {
  background: url("/images/sprite.png") no-repeat -198px -302px;
  height: 12px;
  width: 19px;
}
.radiobuttonbox li:hover {
  background: #ffce00;
}
.radiobuttonbox li:active,
.radiobuttonbox li.checked {
  background: #ffce00;
}
.radiobuttonbox li:active,
.radiobuttonbox li.checked,
.radiobuttonbox li:active a,
.radiobuttonbox li.checked a {
  color: #000000;
}
.radiobuttonbox.inline li {
  float: left;
  border: none;
}
.radiobuttonbox.flat {
  overflow: visible;
  border-radius: 0;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}
.radiobuttonbox.flat ul li {
  padding: 14px 14px 11px 14px;
  background-image: url("/images/shadow/35.png");
  background-repeat: repeat;
  margin-bottom: 1px;
  text-align: left;
  border: none;
}
.radiobuttonbox.flat ul li .arr {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -272px -18px;
  height: 17px;
  width: 17px;
}
.radiobuttonbox.flat ul li a {
  font-size: 18px;
  color: #fff;
}
.radiobuttonbox.flat ul li:hover .arr {
  background: url("/images/sprite.png") no-repeat -272px 0px;
  height: 17px;
  width: 17px;
}
.radiobuttonbox.flat ul li.checked {
  background-image: none;
  position: relative;
}
.radiobuttonbox.flat ul li.checked .arr {
  background: url("/images/sprite.png") no-repeat -95px -82px;
  height: 45px;
  width: 9px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 33;
}
.radiobuttonbox.flat ul li.checked a {
  color: #000;
}
.radiobutton,
.radiobutton label {
  cursor: pointer;
}
.radiobutton > .arr {
  background: url("/images/sprite.png") no-repeat -184px -101px;
  height: 14px;
  width: 14px;
  display: inline-block;
  position: relative;
}
.radiobutton:hover > .arr {
  background: url("/images/sprite.png") no-repeat -184px -118px;
  height: 14px;
  width: 14px;
}
.radiobutton.selected .arr {
  background: url("/images/sprite.png") no-repeat -184px -118px;
  height: 14px;
  width: 14px;
}
.radiobutton .icon {
  margin: 0 5px;
}
.number {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 5px 15px;
}
.number .arr {
  margin-top: -10px;
  position: absolute;
  display: block;
  top: 50%;
}
.number .arr.l {
  left: -15px;
  background: url("/images/sprite.png") no-repeat -182px -193px;
  height: 26px;
  width: 15px;
}
.number .arr.r {
  right: -15px;
  background: url("/images/sprite.png") no-repeat -166px -193px;
  height: 26px;
  width: 15px;
}
.number .val {
  padding: 0 10px;
  font-size: 38px;
  color: #fff;
}
.autocomplite {
  position: relative;
}
.autocomplite .listValuesInner {
  position: relative;
  left: -18px;
  top: -3px;
}
.autocomplite .listValues {
  display: none;
  border: 1px solid #525c64;
  background: #191c1e;
  position: absolute;
  width: auto;
  z-index: 4;
  top: 100%;
}
.autocomplite .listValues.open {
  display: block;
}
.autocomplite .listValues ul {
  max-height: 300px;
  overflow: auto;
}
.autocomplite .listValues a {
  font: normal 14px/1 'Roboto';
  padding: 4px 10px;
  display: block;
  color: #ffce00;
}
.autocomplite .listValues a.checked,
.autocomplite .listValues a:hover {
  background: #ffce00;
  color: #000;
}
.autocomplite .selectedValues .value {
  display: inline-block;
  font: normal 14px/1 'Roboto';
  float: left;
}
.autocomplite .selectedValues .remove {
  padding: 0 !important;
  display: inline-block !important;
  position: relative;
  margin: 0 11px;
  top: 1px;
}
.autocomplite .listValues,
.autocomplite .selectedValues {
  padding: 19px 0;
}
.autocomplite .listValues .operation,
.autocomplite .selectedValues .operation {
  margin: 0 3px;
}
.autocomplite .listValues .value,
.autocomplite .selectedValues .value {
  float: none;
  text-decoration: none;
  padding: 3px 0;
  display: block;
}
.autocomplite.list .selectedValues .value {
  display: block;
  float: none;
}
.autocomplite .flag {
  display: inline-block;
  margin-right: 5px;
}
.fDatePicker {
  vertical-align: top;
}
.fDatePicker .line {
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  position: relative;
  margin: 0 7px;
  height: 1px;
  width: 8px;
  top: 7px;
}
.fDatePicker input {
  position: absolute;
  z-index: -10;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.fDatePicker .dateItem {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.fDatePicker .dateItem .value {
  vertical-align: top;
  color: #fff !important;
}
.fDatePicker .dateItem .datePicker {
  position: absolute;
  right: 0;
  top: 100%;
}
.fDatePicker .datePick .icon {
  background: url("/images/sprite.png") no-repeat -137px -176px;
  height: 15px;
  width: 16px;
  display: inline-block;
  margin: 0 auto;
}
.fDatePicker .datePick .operation {
  margin: -10px 0 0 2px;
}
.fDatePicker .datePick:hover .date {
  background: url("/images/sprite_operations.png") 0px -259px;
}
.autocomplite .arrow,
.ui-datepicker .arrow {
  background: url("/images/sprite.png") no-repeat -137px -208px;
  height: 10px;
  width: 16px;
  position: absolute;
  z-index: 3;
  left: 7px;
  top: -10px;
}
.autocomplite .arrow {
  left: 20px;
  top: -9px;
}
.ui-datepicker {
  border: 1px solid #525c64;
  background: #191c1e;
  color: #fff;
}
.ui-datepicker,
.ui-datepicker a {
  font: normal 14px/1 'Roboto';
}
.ui-datepicker .ui-datepicker-header {
  height: 51px;
  width: 100%;
}
.ui-datepicker .ui-datepicker-title {
  text-align: center;
  margin-top: 13px;
  display: block;
  width: 100%;
}
.ui-datepicker .ui-datepicker-title span {
  font: normal lighter 19px 'Roboto' !important;
  color: #fff !important;
}
.ui-datepicker .ui-corner-all .ui-icon {
  display: inline-block;
  background: url("/images/sprite.png") no-repeat -184px -46px;
  height: 17px;
  width: 17px;
}
.ui-datepicker .ui-corner-all.ui-state-hover .ui-icon {
  background: url("/images/sprite.png") no-repeat -184px -64px;
  height: 17px;
  width: 17px;
}
.ui-datepicker .ui-corner-all.ui-datepicker-prev {
  left: 20px;
  top: 17px;
}
.ui-datepicker .ui-corner-all.ui-datepicker-next {
  right: 20px;
  top: 17px;
}
.ui-datepicker .ui-corner-all.ui-datepicker-next .ui-icon {
  background: url("/images/sprite.png") no-repeat -166px -46px;
  height: 17px;
  width: 17px;
}
.ui-datepicker .ui-corner-all.ui-datepicker-next.ui-state-hover .ui-icon {
  background: url("/images/sprite.png") no-repeat -166px -64px;
  height: 17px;
  width: 17px;
}
.ui-datepicker .ui-state-active {
  background: url("/images/form/ui-datepicker-current-day.png") 50% 50% no-repeat;
  color: #000;
}
.ui-datepicker .ui-datepicker-unselectable {
  color: #b4b4b4;
}
.ui-datepicker table {
  background: #205e7b;
  margin-top: 51px;
  display: block;
  width: auto !important;
  padding: 11px 20px;
}
.ui-datepicker table,
.ui-datepicker table a {
  color: #fff;
}
.ui-datepicker table th {
  color: #a9d7ec;
  padding-bottom: 9px;
}
.ui-datepicker table th,
.ui-datepicker table td {
  vertical-align: middle;
  text-align: center;
}
.ui-datepicker table th,
.ui-datepicker table td,
.ui-datepicker table th a,
.ui-datepicker table td a {
  width: 40px;
  height: 30px;
}
.ui-datepicker table th a,
.ui-datepicker table td a {
  padding-top: 8px;
  height: 22px;
  display: inline-block;
}
.filter-box {
  padding-left: 30px;
  min-height: 695px;
  text-align: left;
  width: 346px;
  z-index: 3;
  border: 0;
}
.filter-box .inner {
  margin: 0;
}
.filter-box span {
  font: normal 13px/1 'Roboto' !important;
  color: #cccccc;
}
.filter-box textarea,
.filter-box input {
  font: normal lighter 27px/1 'Roboto' !important;
  background: transparent;
  outline: none;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  color: #aae4ff !important;
}
.filter-box textarea:-moz-placeholder,
.filter-box input:-moz-placeholder {
  color: #aae4ff;
}
.filter-box textarea:-ms-input-placeholder,
.filter-box input:-ms-input-placeholder {
  color: #aae4ff;
}
.filter-box textarea::-webkit-input-placeholder,
.filter-box input::-webkit-input-placeholder {
  color: #aae4ff;
}
.filter-box input {
  font-size: 22px !important;
}
.filter-box .autocomplite {
  min-height: 45px;
}
.filter-box .label {
  font-size: 13px !important;
  margin-top: 10px;
}
.ui-corner-all {
  position: absolute;
  z-index: 20 !important;
}
.content-box.filter-photoalbums .catalogPhotoAlbums {
  margin-top: 0;
}
.content-box.filter-photoalbums .filter-box {
  margin-top: 0;
  border: none;
  width: 20%;
}
.content-box.filter-photoalbums .filter-box .inner {
  width: 400px;
}
.content-box.filter-photoalbums .autocomplite .selectedValues {
  padding: 0;
}
.inpt.text {
  font: normal lighter 30px/1 'Roboto';
  background: none;
  outline: none;
  border: none;
  color: #fff;
}
.inpt.text:-moz-placeholder {
  color: #aae4ff;
}
.inpt.text:-ms-input-placeholder {
  color: #aae4ff;
}
.inpt.text::-webkit-input-placeholder {
  color: #aae4ff;
}
.searchChar {
  color: #fff;
}
.sliderValue input,
.number input,
.checkbox input,
.rechecker input,
.radiobutton input,
.radiobuttonbox input {
  position: absolute;
  z-index: -100;
  /*opacity*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.dropDownMenu {
  position: relative;
}
.dropDownMenu .arrDown {
  margin-top: -2px;
}
.dropDownMenu .dropDownMenuInner {
  position: absolute;
  z-index: 10;
  padding-top: 6px;
  display: none;
  top: 100%;
  left: -1px;
}
.dropDownMenu .label {
  padding-right: 10px;
}
.dropDownMenu .label {
  padding-right: 6px;
}
.dropDownMenu .dropDownMenu {
  border: 1px solid #525c64;
  background: #191c1e;
  white-space: nowrap;
  position: relative;
  margin-top: 5px;
  padding: 20px 20px 10px 20px;
  color: #fff;
}
.dropDownMenu .dropDownMenu .hr {
  height: 1px;
  background: #525c64;
  margin: 10px -20px;
}
.dropDownMenu .dropDownMenu .radiobuttons {
  margin-top: 5px;
}
.dropDownMenu .dropDownMenu .radiobutton {
  font: normal lighter 13px/2 'Roboto';
}
.dropDownMenu .dropDownMenu .radiobutton .arr {
  margin-right: 6px;
}
.dropDownMenu .dropDownMenu .radiobutton label {
  position: relative;
  top: -2px;
}
.dropDownMenu .dropDownMenu .dropDownMenuArr {
  background: url("/images/sprite.png") no-repeat -241px -41px;
  height: 9px;
  width: 16px;
  position: absolute;
  top: -9px;
  left: 21px;
}
.dropDownMenu .inpt.checkbox {
  padding-bottom: 5px;
  display: block;
}
.dropDownMenu.open .dropDownMenuInner,
.dropDownMenu.active .dropDownMenuInner,
.dropDownMenu.hover .dropDownMenuInner,
.dropDownMenu:hover .dropDownMenuInner {
  display: block;
}
.dropDownMenu.link .dropDownMenuInner {
  margin-left: -39px;
  left: 100%;
}
.icon {
  display: inline-block;
}
.profileBirthday {
  background: url("/images/sprite.png") no-repeat -166px -150px;
  height: 13px;
  width: 13px;
}
.profileDateRegister {
  background: url("/images/sprite.png") no-repeat -166px -164px;
  height: 13px;
  width: 13px;
}
.profileLink {
  background: url("/images/sprite.png") no-repeat -166px -178px;
  height: 14px;
  width: 14px;
}
.icon_info {
  background: url("/images/sprite.png") no-repeat -87px -64px;
  height: 17px;
  width: 17px;
}
.icon_info:hover {
  background: url("/images/sprite.png") no-repeat -87px -46px;
  height: 17px;
  width: 17px;
}
.icon_config {
  background: url("/images/sprite.png") no-repeat -149px 0px;
  height: 24px;
  width: 24px;
}
.profileRestore {
  background: url("/images/sprite.png") no-repeat -137px -160px;
  height: 15px;
  width: 13px;
}
.search {
  background: url("/images/sprite.png") no-repeat -83px -145px;
  height: 16px;
  width: 16px;
}
.search.blue {
  background: url("/images/sprite.png") no-repeat -83px -128px;
  height: 16px;
  width: 16px;
}
.mapList {
  background: url("/images/sprite.png") no-repeat -70px -187px;
  height: 12px;
  width: 17px;
}
.mapPlus {
  background: url("/images/sprite.png") no-repeat -70px -167px;
  height: 9px;
  width: 9px;
}
.mapMinus {
  background: url("/images/sprite.png") no-repeat -80px -167px;
  height: 9px;
  width: 9px;
}
.rur {
  background: url("/images/sprite.png") no-repeat -184px -150px;
  height: 14px;
  width: 11px;
}
.eur {
  background: url("/images/sprite.png") no-repeat -196px -150px;
  height: 15px;
  width: 9px;
}
.usd {
  background: url("/images/sprite.png") no-repeat -184px -165px;
  height: 18px;
  width: 9px;
}
.squares {
  background: url("/images/sprite.png") no-repeat -160px -291px;
  height: 9px;
  width: 37px;
}
.autocomplite .remove:hover,
.autocomplite .remove {
  background: url("/images/sprite.png") no-repeat -184px -83px;
  height: 17px;
  width: 17px;
}
.plane {
  background: url("/images/sprite.png") no-repeat -194px -166px;
  height: 13px;
  width: 13px;
}
.suitcase {
  background: url("/images/sprite.png") no-repeat -194px -180px;
  height: 13px;
  width: 13px;
}
.stars {
  background: url("/images/sprite.png") no-repeat -208px -176px;
  height: 12px;
  width: 12px;
}
.comments_count {
  background: url("/images/sprite.png") no-repeat -208px -150px;
  height: 12px;
  width: 15px;
}
.likes {
  background: url("/images/sprite.png") no-repeat -208px -163px;
  height: 12px;
  width: 14px;
}
.closeSlider {
  background: url("/images/sprite.png") no-repeat -195px -315px;
  height: 14px;
  width: 14px;
}
.loading {
  background: url("/images/fileStorage/fileupload_sprite.png") no-repeat -1px -1px;
  height: 36px;
  width: 36px;
}
.loading.s25 {
  background: url("/images/fileStorage/fileupload_sprite.png") no-repeat -1px -75px;
}
.loading.s50 {
  background: url("/images/fileStorage/fileupload_sprite.png") no-repeat -1px -112px;
}
.loading.s75 {
  background: url("/images/fileStorage/fileupload_sprite.png") no-repeat -1px -149px;
}
.loading.s100 {
  background: url("/images/fileStorage/fileupload_sprite.png") no-repeat -1px -186px;
}
.folder {
  background: url("/images/fileStorage/sprite_filestorage.png") no-repeat 0px 0px;
  height: 34px;
  width: 42px;
}
.folder.basket {
  background: url("/images/fileStorage/sprite_filestorage.png") no-repeat -43px 0px;
  height: 34px;
  width: 30px;
}
.weatherIcon {
  height: 37px;
  width: 37px;
  background: url("/images/sprite_weather.png") no-repeat -113px 1px;
}
.weatherIcon.code3,
.weatherIcon.code4 {
  background: url("/images/sprite_weather.png") no-repeat 1px 1px;
}
.weatherIcon.code5,
.weatherIcon.code6,
.weatherIcon.code7,
.weatherIcon.code10,
.weatherIcon.code18,
.weatherIcon.code35 {
  background: url("/images/sprite_weather.png") no-repeat 1px -37px;
}
.weatherIcon.code1,
.weatherIcon.code9,
.weatherIcon.code11,
.weatherIcon.code12,
.weatherIcon.code17,
.weatherIcon.code45,
.weatherIcon.code46 {
  background: url("/images/sprite_weather.png") no-repeat 1px -75px;
}
.weatherIcon.code42 {
  background: url("/images/sprite_weather.png") no-repeat -37px 1px;
}
.weatherIcon.code15,
.weatherIcon.code16,
.weatherIcon.code41,
.weatherIcon.code43 {
  background: url("/images/sprite_weather.png") no-repeat -37px -37px;
}
.weatherIcon.code19,
.weatherIcon.code20,
.weatherIcon.code21,
.weatherIcon.code22 {
  background: url("/images/sprite_weather.png") no-repeat -37px -75px;
}
.weatherIcon.code0,
.weatherIcon.code2,
.weatherIcon.code23,
.weatherIcon.code24,
.weatherIcon.code25 {
  background: url("/images/sprite_weather.png") no-repeat -75px 1px;
}
.weatherIcon.code8 {
  background: url("/images/sprite_weather.png") no-repeat -75px -37px;
}
.weatherIcon.code37,
.weatherIcon.code38,
.weatherIcon.code39 {
  background: url("/images/sprite_weather.png") no-repeat -75px -75px;
}
.weatherIcon.code31,
.weatherIcon.code32,
.weatherIcon.code33,
.weatherIcon.code34,
.weatherIcon.code36 {
  background: url("/images/sprite_weather.png") no-repeat -113px 1px;
}
.weatherIcon.code29,
.weatherIcon.code30,
.weatherIcon.code44,
.weatherIcon.code3200 {
  background: url("/images/sprite_weather.png") no-repeat -113px -37px;
}
.weatherIcon.code26,
.weatherIcon.code27,
.weatherIcon.code28 {
  background: url("/images/sprite_weather.png") no-repeat -113px -75px;
}
.weatherIcon.code40,
.weatherIcon.code47 {
  background: url("/images/sprite_weather.png") no-repeat -151px 1px;
}
.arrDown {
  background: url("/images/sprite.png") no-repeat -290px -18px;
  height: 17px;
  width: 17px;
}
.socket {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: -9px 17px -9px -1px;
  background: url("/images/sprite_socket.png") no-repeat 1px 1px;
}
.socket.socketA {
  background: url("/images/sprite_socket.png") no-repeat 1px 1px;
}
.socket.socketB {
  background: url("/images/sprite_socket.png") no-repeat 1px -29px;
}
.socket.socketC {
  background: url("/images/sprite_socket.png") no-repeat 1px -59px;
}
.socket.socketD {
  background: url("/images/sprite_socket.png") no-repeat 1px -89px;
}
.socket.socketE {
  background: url("/images/sprite_socket.png") no-repeat 1px -119px;
}
.socket.socketF {
  background: url("/images/sprite_socket.png") no-repeat 1px -149px;
}
.socket.socketG {
  background: url("/images/sprite_socket.png") no-repeat -29px 1px;
}
.socket.socketH {
  background: url("/images/sprite_socket.png") no-repeat -29px -29px;
}
.socket.socketI {
  background: url("/images/sprite_socket.png") no-repeat -29px -59px;
}
.socket.socketJ {
  background: url("/images/sprite_socket.png") no-repeat -29px -89px;
}
.socket.socketK {
  background: url("/images/sprite_socket.png") no-repeat -29px -119px;
}
.socket.socketL {
  background: url("/images/sprite_socket.png") no-repeat -29px -149px;
}
.operation {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  height: 36px;
  width: 36px;
}
.operation.goBack {
  background: url("/images/sprite_operations.png") -74px -296px;
}
.operation.move {
  background: url("/images/sprite_operations.png") -185px -148px;
}
.operation.replace,
.operation.turn {
  background: url("/images/sprite_operations.png") -111px -74px;
}
.operation.unpublic {
  background: url("/images/sprite_operations.png") -37px 0px;
}
.operation.public {
  background: url("/images/sprite_operations.png") -74px 0px;
}
.operation.download {
  background: url("/images/sprite_operations.png") -148px -148px;
}
.operation.edit {
  background: url("/images/sprite_operations.png") 0px 0px;
}
.operation.remove {
  background: url("/images/sprite_operations.png") -74px -74px;
}
.operation.link {
  background: url("/images/sprite_operations.png") -37px -74px;
}
.operation.bookmark {
  background: url("/images/sprite_operations.png") -111px -222px;
}
.operation.arrUp {
  background: url("/images/sprite_operations.png") 0px -74px;
}
.operation.arrDown {
  background: url("/images/sprite_operations.png") -185px 0px;
}
.operation.comments {
  background: url("/images/sprite_operations.png") -37px -296px;
}
.operation.date {
  background: url("/images/sprite_operations.png") 0px -222px;
}
.operation.delete {
  background: url("/images/sprite.png") no-repeat -236px -18px;
  height: 17px;
  width: 17px;
}
.operation.close {
  background: url("/images/sprite_operations.png") -74px -407px;
}
.operation.view {
  background: url("/images/sprite_operations.png") -37px -407px;
}
.operation.save {
  background: url("/images/sprite_operations.png") 0px -407px;
}
.operation.profile {
  background: url("/images/sprite_operations.png") -185px -296px;
}
.operation.deleted {
  background: url("/images/sprite_operations.png") -111px -148px;
}
.operation.orderedlist {
  background: url("/images/sprite_operations.png") -74px -148px;
}
.operation.unorderedlist {
  background: url("/images/sprite_operations.png") -37px -148px;
}
.operation.bold {
  background: url("/images/sprite_operations.png") -185px -74px;
}
.operation.comment {
  background: url("/images/sprite_operations.png") 0px -148px;
}
.operation.plus {
  background: url("/images/sprite_operations.png") -148px -222px;
}
.operation.hover.goBack,
.operation:hover.goBack {
  background: url("/images/sprite_operations.png") -74px -259px;
}
.operation.hover.replace,
.operation:hover.replace,
.operation.hover.turn,
.operation:hover.turn {
  background: url("/images/sprite_operations.png") -111px -111px;
}
.operation.hover.move,
.operation:hover.move {
  background: url("/images/sprite_operations.png") -185px -185px;
}
.operation.hover.unpublic,
.operation:hover.unpublic {
  background: url("/images/sprite_operations.png") -37px -37px;
}
.operation.hover.public,
.operation:hover.public {
  background: url("/images/sprite_operations.png") -74px -37px;
}
.operation.hover.download,
.operation:hover.download {
  background: url("/images/sprite_operations.png") -148px -185px;
}
.operation.hover.edit,
.operation:hover.edit {
  background: url("/images/sprite_operations.png") 0px -37px;
}
.operation.hover.remove,
.operation:hover.remove {
  background: url("/images/sprite_operations.png") -74px -111px;
}
.operation.hover.link,
.operation:hover.link {
  background: url("/images/sprite_operations.png") -37px -111px;
}
.operation.hover.bookmark,
.operation:hover.bookmark {
  background: url("/images/sprite_operations.png") -111px -259px;
}
.operation.hover.arrUp,
.operation:hover.arrUp {
  background: url("/images/sprite_operations.png") 0px -111px;
}
.operation.hover.arrDown,
.operation:hover.arrDown {
  background: url("/images/sprite_operations.png") -185px -37px;
}
.operation.hover.comments,
.operation:hover.comments {
  background: url("/images/sprite_operations.png") -37px -259px;
}
.operation.hover.date,
.operation:hover.date {
  background: url("/images/sprite_operations.png") 0px -259px;
}
.operation.hover.delete,
.operation:hover.delete {
  background: url("/images/sprite.png") no-repeat -236px 0px;
  height: 17px;
  width: 17px;
}
.operation.hover.close,
.operation:hover.close {
  background: url("/images/sprite_operations.png") -74px -370px;
}
.operation.hover.view,
.operation:hover.view {
  background: url("/images/sprite_operations.png") -37px -370px;
}
.operation.hover.save,
.operation:hover.save {
  background: url("/images/sprite_operations.png") 0px -370px;
}
.operation.hover.profile,
.operation:hover.profile {
  background: url("/images/sprite_operations.png") -185px -259px;
}
.operation.hover.deleted,
.operation:hover.deleted {
  background: url("/images/sprite_operations.png") -111px -185px;
}
.operation.hover.orderedlist,
.operation:hover.orderedlist {
  background: url("/images/sprite_operations.png") -74px -185px;
}
.operation.hover.unorderedlist,
.operation:hover.unorderedlist {
  background: url("/images/sprite_operations.png") -37px -185px;
}
.operation.hover.bold,
.operation:hover.bold {
  background: url("/images/sprite_operations.png") -185px -111px;
}
.operation.hover.comment,
.operation:hover.comment {
  background: url("/images/sprite_operations.png") 0px -185px;
}
.operation.hover.plus,
.operation:hover.plus {
  background: url("/images/sprite_operations.png") -148px -259px;
}
.users_inner .pattern {
  font: normal lighter 13px/1 'Roboto';
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  text-align: left;
  display: block;
  padding: 10px;
}
.users_inner .flag {
  display: inline-block;
  margin: 0 5px 0 0 ;
  position: relative;
  top: 2px;
}
.users_inner .inner-content {
  position: absolute;
  bottom: 30px;
}
.users_inner .name {
  color: #ffce00;
  font: normal lighter 18px/1.2 'Roboto';
  padding: 0 0 10px 0;
}
.users_inner .item {
  width: 20%;
  display: inline-block;
  min-width: 180px;
  position: relative;
  float: left;
}
.users_inner .item:hover .pattern {
  visibility: visible;
}
.users_inner img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .users_inner .item {
    width: 20%;
  }
  .users_inner .item:nth-last-child(-n+1) {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .users_inner .item {
    width: 16.66666667%;
  }
  .users_inner .item:nth-last-child(-n+5) {
    display: none;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .users_inner .item {
    width: 14.28571429%;
  }
  .users_inner .item:nth-last-child(-n+4) {
    display: none;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .users_inner .item {
    width: 12.5%;
  }
  .users_inner .item:nth-last-child(-n+3) {
    display: none;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2000px) {
  .users_inner .item {
    width: 11.11111111%;
  }
  .users_inner .item:nth-last-child(-n+2) {
    display: none;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2200px) {
  .users_inner .item {
    width: 10%;
  }
  .users_inner .item:nth-last-child(-n+1) {
    display: none;
  }
}
@media screen and (min-width: 2200px) {
  .users_inner .item {
    width: 9.09090909%;
  }
}
