/*  Header
-----------------------------------------------------------------------------*/
.header .logo {
  background: url("/images/sprite_retina.png") no-repeat 0px 0px;
  background-size: 600px 600px;
  height: 24px;
  width: 152px;
}
